[2016-02-26 16:56] whren opened #12 "docker-machine unable to find a subnet in the zone if VPC is not in the AZ "a""
Context
======

Follow the QuickStart instructions.
In my case, on the step 1, I created VPC in eu-west-1 region.
On step 3 run startup.sh without AWS credentials and default region stored locally in ~/.aws.
I used the following command :

./startup.sh -m adop1 -c <newly_vpcid> -r eu-west-1 -a AWS_ACCESS_KEY -s AWS_SECRET_ACCESS_KEY -v local -n adopnetwork

Expected
=======

docker-machine EC2 ins

[2016-03-08 19:35] deors opened #14 "after upgrading slave machine, jobs fail as Docker version is not in sync between slave container and the others"
I think we should downgrade the slave version to 0.1.0, until all other images are also upgraded to Docker 1.10, as currently there are some issues because of the version mismatch when a docker command is executed inside the slave (i.e. creating environment, deploying a build to Tomcat node).

[2016-03-08 19:39] nickdgriffin commented on #14
What counts as "all other images"? The reason the slave was upgraded to have Docker 1.10 was because Docker Machine (using the AMI we specify) was creating Docker 1.10 Engines and the Slave's 1.9.x client was refusing to work when creating and deploying an environment.

[2016-03-08 19:48] nickdgriffin commented on #12
I think perhaps a better method would be to pass in the exact subnet where the machine should be created, but the sentiment is the same. Open to a PR for either.

[2016-03-08 20:32] deors commented on #14
That's a good point. AWS works fine actually, but not locally with Docker
Toolbox 1.9.0. I guess that what we should do to keep it working in
boot2docker is to update it to 1.10.0 and update docs to point to that
version. Tomorrow afternoon I may have some time and will upgrade to 1.10.0
in my PC and spawn a new VM with boot2docker. I'll keep you posted.

El mar., 8 de marzo de 2016 20:39, Nick Gr

[2016-03-08 20:39] nickdgriffin commented on #14
Cool, yes I think we could be a bit clearer in the readme on what version we expect to use.

[2016-03-09 07:51] deors commented on #14
Already tried with Docker Toolbox 1.10.2 and the corresponding version of boot2docker. Everything worked fine in local VM this time. Only a minor caveat, the shell type in docker-machine env command was not detected as bash (using Git-bash on Windows machine), although with 1.9.0 it was. I have added the "--shell bash" param to the script and worked fine. If others also experiment the issue, we ca

[2016-03-09 07:51] deors commented on #14
Closing the issue, then.

[2016-03-09 07:51] #14 closed

[2016-03-09 07:53] deors opened #15 "Local setup in VM with 2 GB RAM is not enough, 6 GB needed, 8 GB recommended"
As per my own tests with boot2docker, a local VM with 2 GB of RAM is not enough, leading to low performance and some weird behaviours along the way. I suggest to update the local-setup.sh script to increase resources for the local VM to 8 GB RAM and 2 vCPU. If ok, I can submit PR for the change.

[2016-03-30 15:09] robwells57 commented on #12
Forking repo. to add new command line option (-z) to specify subnet availability zone.

[2016-04-04 16:19] deors opened #28 "Custom network name parameter is ignored in startup.sh"
Currently, startup.sh script, in line 32, seems to be ignoring the custom network name parameter that, if passed through CLI (-n <name-of-the-network>) should be used instead of the default name (adopnetwork). In previous versions of the script, the assignment to the env var was correct.
Should line 32 be restored as found in previous versions? That is:
     export CUSTOM_NETWORK_NAME=${OPTARG}

[2016-04-04 19:16] nickdgriffin commented on #28
Yeah, that looks like it has slipped through the net and is incorrect in its current form.

[2016-04-04 19:16] nickdgriffin commented on #12
I believe this issue should now be resolved with the merging of the above PR.

[2016-04-04 22:06] nickdgriffin commented on #28
It's fixed in the new quickstart.sh that'll replace local-setup.sh and startup.sh eventually, can you give that a go instead please?

[2016-04-05 04:55] deors commented on #28
I will take a look to the new quickstart.sh script. Is it already pushed to
GitHub repo?

El lun., 4 de abril de 2016 21:16, Nick Griffin <notifications@github.com>
escribió:

[2016-04-05 11:10] gogodi91 opened #30 "When using the startup.sh script my inline options get overridden by what is in the .aws folder"
When I try running the startup.sh with my aws access key in order to spin up an instance in aws and use that for my ADOP, whatever I put inline gets overridden by my .aws folder content. This behavior is bad as it means I cannot use the command line for one time operations and I need to fill in new parameters in my .aws options every time I want to use new access credentials. Also I was met by the

[2016-04-05 11:13] gogodi91 commented on #30
The same behavior is observed when running quickstart.sh. This time the error is ./quickstart.sh: line 58: output: command not found.

[2016-04-05 11:15] nickdgriffin commented on #28
Yes, it is on master as of last night for people to give it a go.

[2016-04-05 11:46] gogodi91 opened #31 "Jenkins Slave restarting on ADOP creation"
I used the quickstart.sh script to create a new ADOP instance. I noticed that the Load_Platform job was hanging and on closer inspection I found that the jenkins slave is restarting. The docker logs had multiple lines of

Error: Invalid or corrupt jarfile /bin/swarm-client.jar

[2016-04-11 19:18] deors commented on #28
I've been testing quickstart.sh but I got an error in line 47 of cmd/compose script. It seems that the "--shell bash" parameter is missing in this script and this is causing the docker-machine env command to generate Windows commands, and not Bash commands. Tested locally that after the change, a new ADOP environment is provisioned successfully. PR submitted to fix this.

[2016-04-12 16:53] deors commented on #28
Returning to the origin of the issue. I've tested with quickstart.sh but the custom network name parameter  (-n) is not accepted by quickstart.sh and hence it is not passed onto cmd/compose script. I guess that the correct behaviour should be that quickstart.sh processes all expected/optional parameters and pass them to compose, as currently only the machine name is passed (line 132 of quickstart.

[2016-04-12 17:04] deors opened #47 "UnicodeDecodeError thrown by docker-compose while running nexus image"
Today I refreshed adop-docker-compose local repo to the latest bytes and tried to provision a new instance in AWS. Everything went well as usual until the "Bringing up ADOP" phase. Shortly after that, docker-compose returned a UnicodeDecodeError. This is the console output:

`* Bringing up ADOP...
Your secrets file already exists, moving on...
Sourcing variables from platform.secrets.sh file...
Cr

[2016-04-12 17:12] nickdgriffin commented on #28
Well the idea behind quickstart.sh is that it's the fastest route to standing up the platform, rather than it being another layer of abstraction with a pass through for every possible thing that the CLI accepts.

The ultimate state is that only CLI commands will be used to standup the platform, and quickstart.sh is just a step towards that to bridge for docker-machine in the short term. If you wan

[2016-04-12 17:14] nickdgriffin commented on #47
Never seen that before, and in the last couple of hours I've stood up ADOP three times without seeing that issue. Looks like it's just to do with the version of Compose being used?

[2016-04-13 10:46] deors commented on #47
I am using Docker Toolbox 1.10.3, with Compose 1.6.2. Are you using some other version? Maybe it is a Windows issue?

[2016-04-13 17:05] deors opened #48 "Kibana cannot be configured, it says 'Unable to fetch mapping'"
As per instructions, when a brand new ADOP instance is provisioned, I try to configure indices in Kibana dashboard. However, when I type logstash-* as index name, below appears a message saying 'Unable to fetch mapping. Do you have indices matching the pattern?'.
Any ideas about what could be causing this, or any known workaround?
Thanks in advance.

[2016-04-13 17:09] deors commented on #28
Ok. But I suggest having in roadmap to have an "adop create" command to encapsulate the different ways to create the base machine, local, AWS, etc. I like the simplicity it brings for people not well skilled with docker-machine or AWS CLI. Anyway, the network name is not something that people may need to hack, so it's fine to keep it simply out of scope for quickstart.

[2016-04-13 17:09] #28 closed

[2016-04-13 17:37] nickdgriffin commented on #48
I believe this is the fault of a Docker Compose 1.6 bug where it does not merge the log driver config from the override file - so no data makes it into ELK. If the "docker logs" command still works, that's an indication.

[2016-04-13 17:39] nickdgriffin commented on #28
Yep, that's the idea. "adop provision" is going to cover that base for the various "simple" ways of launching.

[2016-04-13 21:24] larrywright commented on #48
I ran into this the other day, and came to the same conclusion as Nick. ELK is working because I can manually send data to it, but the log drivers aren't sending data to them, and therefor the index never gets created.

[2016-04-14 05:49] iniweb commented on #48
Docker compose v1.7.0 was recently released, this version should fix this problem

[code]

https://github.com/docker/compose/releases/tag/1.7.0

[2016-04-14 06:01] deors commented on #48
Docker Toolbox 1.11.0 is also released. Time to try it then!

El jue., 14 de abril de 2016 7:49, Anton Kasperovich <
notifications@github.com> escribió:

[2016-04-14 10:16] nickdgriffin commented on #48
Hopefully it's actually fixed and hasn't introduced another host of problems like Compose 1.6.0 did.

[2016-04-14 14:31] larrywright commented on #48
I upgraded to the new version of the Docker Toolbox and can confirm that it's fixed.

[2016-04-14 17:19] deors commented on #47
after updating to Docker Toolbox 1.11.0, with Compose 1.7.0, the error is still there. The exact moment varies, but it is always while creating the containers. docker ps shows some containers running. executing adop compose init again, results in the same error, at maybe a different point.
I switched back to startup.sh, but with same result, so whatever is happening, happens within docker-compose

[2016-04-14 21:10] iniweb commented on #48
Tested on upgraded Docker compose v1.7 (Ubuntu 14.04) and everything works as well

[2016-04-15 21:47] deors commented on #48
tested after upgrade to Toolbox 1.11 and on new instance and works fine. closing the issue now.

[2016-04-15 21:47] #48 closed

[2016-04-16 07:19] deors commented on #47
tried again this morning, and this time it worked, so I am going to close the issue. still no idea what the root cause is, but as I've not been able to reproduce it again...

[2016-04-16 07:19] #47 closed

[2016-04-19 09:23] arthur-kovalenko opened #50 "Selenium link on release note broken if stack created using Swarm"
If stack has been created using swarm, Selenium link on release note page is broken:
`https://selenium.swarm-tes-proxyela-random-number.us-east-1.elb.amazonaws.com.xip.io`

It tries to create the same link, as it would have done if we would have been using just the IP address of the stack, meaning it has a subdomain and also adds the extra "xip.io"

[2016-04-21 11:35] nickdgriffin commented on #50
This can be worked around by using the public IP of the outer proxy directly to access the stack I think.

[2016-04-24 08:51] yoannHertienne opened #55 "Environment Variable Fixed"
Hi,

Do you know how we can change the Jenkins Environments Variables ?

It seems that these variables are hardcoded and for my part, it has created some issues.

For example, whatever the IP address for your ADOP instance (192.168.99.XXX), the variable 'Jenkins_Url' is fixed to '192.168.99.103/Jenkins' instead of '192.168.99.XXX/Jenkins'.

My solution was to have the ADOP instance IP address to 1

[2016-04-24 09:04] iniweb commented on #55
Hi @yoannHertienne, whenever you create new ADOP instance, in a first time, it will get IP address of you instance and lock in your settings for Jenkins, for example, i created ADOP instance, i changed my IP address and everything would be accessible as usual, but i would need to change IP address in Jenkins settings manually. Not sure why in your case IP was changed, but the answer on your questi

[2016-04-24 10:04] yoannHertienne commented on #55
Hi,

Thank you for your answer.

In fact, I did multiple test before, and each time the IP was fixed to “192.168.99.103”.

In fact I want to know how to change multiple Env Variable because all the IP address need to be change, not only for Jenkins, but SonarQube, build folder …..

How are the Jenkins Env Variable Setup ? Envinject ?

Sent: dimanche 24 avril 2016 11:05
To: Accenture/adop-docker-co

[2016-04-24 15:21] iniweb commented on #55
@yoannHertienne could you please provide more details, which version/commit you are using, how you created new stack? I don't see the problem, if you have one docker-machine, ip address of this machine can be static.

No, it should be done in docker-compose.yml file for ADOP-Jenkins docker container, you can check all available env variables for usage here https://github.com/Accenture/adop-jenkins

[2016-04-25 04:13] davidefreeman opened #56 "Startup shell script fails with >1 line in AWS config"
When using quickstart.sh or startup.sh using default AWS region, the scripts fail when more than one properly line is present in ~/.aws/config - for example, I set my output format to 'table', which added a new config like to 'config'. The sed command "eval $(grep -v '^\[' ~/.aws/config | sed 's/^\(region\)\s\?=\s\?/export AWS_DEFAULT_REGION=/')" does not properly filter for only the line beginnin

[2016-04-25 04:16] davidefreeman commented on #56
./quickstart.sh line 84
./startup.sh line 118

[2016-04-25 04:21] davidefreeman opened #57 "Jenkins Create_Environment job failes with TLS Error"
When running Create_Environment, Docker complained that the TLS configuration was invalid.
"TLS configuration is invalid - make sure your DOCKER_TLS_VERIFY and DOCKER_CERT_PATH are set correctly"

The project console output pasted here. I added 'env' to the build script and 'set -x' so all commands are displayed.
'''
[EnvInject] - Inject global passwords.
Started by user Admin User
[EnvInject] - L

[2016-04-25 04:25] davidefreeman commented on #57
In order to remove SSL/TLS as the root caused, I disabled TLS by unsetting 'DOCKER_TLS_VERIFY' in the Jenkins build script. Unfortunately, Docker continued to fail, but at least without the TLS error. The error this time around is "Couldn't connect to Docker daemon - you might need to run `docker-machine start default`." when running 'docker-compose'.

I don't know how to make sure that docker dae

[2016-04-25 07:12] yoannHertienne commented on #55
Hello,

Yes of course I will provide you more details.

To install adop-docker-compose (v0.1.0) I followed this page : https://github.com/Accenture/adop-docker-compose

I did:

-          ‘docker-machine create --driver virtualbox --virtualbox-memory 4096 ADOP’ (ADOP received the IP address 192.168.99.101, because default has the 192.168.99.100)

-          ‘eval $(docker-machine env ADOP)’

-

[2016-04-25 08:46] nickdgriffin commented on #57
Assuming you used "startup.sh" or "quickstart.sh" then Docker Machine will have created a TLS-enabled Engine, so trying to use it without TLS is not going to work without configuring it by hand (which isn't worth the effort really).

If you are running the scripts from Windows then Git Bash will have needed to be run as administrator and in Mac the script run with root access so that the certifica

[2016-04-25 13:36] davidefreeman commented on #57
That would be it - I did this install from my local Windows machine machine instead of my AWS Linux box. Rerunning quickstart now.

[2016-04-26 01:00] davidefreeman commented on #57
Rerunning quickstart from git-bash with Admin privileges seems to have done the trick. Now I have to reread the documentation to see if I missed that line... :-)

[2016-04-26 01:00] #57 closed

[2016-04-26 06:03] iniweb commented on #55
To be honest, not sure why it happens, but what can i say for sure, you've done extra steps which is not needed cause they are covered via quickstart.sh script:
[code]

Please try to delete all your current docker machines, re-create your ADOP stack **without steps above**, i mean, you no need to do anything after ./quickstart.sh.

Also, when you finished, provide here output of "docker-machine ls

[2016-04-26 08:12] yoannHertienne commented on #55
Hi Anton,

Thank you for your return.

Concerning the restart of all the installation, I will not do this because now I have a working platform and I don’t want to lose my work.

Nevertheless I completed the build from scratch of the platform 2 times and the new docker machine received the address IP following the default docker machine (meaning 192.168.99.101 because default has 192.168.99.100).

[2016-04-26 08:52] nickdgriffin commented on #55
Is the 192.168.99.103 IP assigned to another Docker Machine at the moment? Does "docker-machine ip <your_machine_name>" return 192.168.99.101 or 192.168.99.103?

The IP that gets fed in should be coming from Docker Machine anyway based on your machine name so I'm not sure why it'd be picking up the wrong one.

[2016-04-26 09:24] yoannHertienne commented on #55
The IP is only assigned to my ADOP docker-machine.

If I run ‘docker-machine IP <docker-machine-name>’, it returns 192.168.99.101. Now to have a stable ADOP platform working, I cheat this by creating 2 temporary docker-machine to have at the command ‘docker-machine IP <docker-machine-name>’ the 192.168.99.103 address IP. So now if I resume I have:

NAME

ACTIVE

DRIVER

STATE

URL

SWARM

DOCKER

[2016-05-05 18:00] jagadeshrosaiah opened #66 "compose is not tested before Commit."
Line 26 : -printf "    %-22s   %s\n" "init" <--without-pull> "Initialises ADOP without pulling images"

where  <--without-pull> should be enclosed with double quotes.

This errors out while executing from git bash on windows platform(Win 7)

works fine from Mac.

[2016-05-06 09:20] #66 closed

[2016-05-06 16:05] teamschwarz opened #68 "has the behavior of quickstart.sh changed? it used to build, then launch a docker machine. now it doesn't seem to launch."

[2016-05-06 16:33] dsingh07 commented on #68
Should be fixed by this pull request [here](https://github.com/Accenture/adop-docker-compose/pull/69)

[2016-05-09 18:47] oscarrenalias opened #71 "Reading variables from ~/.aws/config and ~/.aws/credentials is broken"
If data is present in either ~/.aws/config or ~/.aws/credentials, whatever bash magic is happening in the scripts isn't working. I enabled debug mode in the scripts by adding  `#!/bin/bash -ex` at the top to see what's going on, and this is what I get:

[code]

The version of bash in OS X 10.11 definitely doesn't like whatever is going on.

[2016-05-09 19:36] oscarrenalias opened #73 "Generating certificates in OS X 10.11 doesn't work"
Overall output:

[code]

The last openssl command is failing. When running it manually, this is the output:

[code]

I'm not sure why it's trying to create file */Users/oscar.srl*, because that's never passed as a parameter anywhere. And I don't know enough of the openssl set of commands to troubleshoot this myself.

In case it helps, the version of OpenSSL is `OpenSSL 0.9.8zh 14 Jan 2016` as prov

[2016-05-09 20:16] oscarrenalias opened #74 "Job /job/ExampleWorkspace/job/ExampleProject/job/Create_Environment fails"
Job /job/ExampleWorkspace/job/ExampleProject/job/Create_Environment doesn't work:

[code]

I tried defining DOCKER_TLS_VERIFY and DOCKER_CERT_PATH within the shell script that is embedded in the job, but it does not seem to make any difference. Where exactly are the TLS certs for the engine, and how should they be transferred to the node?

Please note that this instance is a single node ADOP serve

[2016-05-09 20:16] josequaresma commented on #73
Hey Oscar. I encountered this issue before but then ended up not having time to follow up on it. My guess (and here his is more a guess than something else) is that that openssl command does not support paths that have dots in them. I think it finds the "." and thinks that the rest of the string is the extension and then replaces that by 'srl' (i think it needs to read from that file, which is in

[2016-05-09 20:34] oscarrenalias commented on #73
It could be, but that's the kind of username that we get in our Accenture workstations so we can't work around that. And no, I don't think that doing this with sudo is a good alternative.

This should probably be documented as part of the README, under "Known issues" or similar, as it's a pretty important thing to keep in mind.

[2016-05-10 06:49] josequaresma commented on #73
I agree. It is a bug thing to have in known issues though, since (as far as I know) you can't get it to work without the certificate installation. I will look into it the latest in the weekend

[2016-05-11 10:44] dsingh07 commented on #73
Hi @oscarrenalias

Can you please run your terminal with root-level access?

The problem is the fact that openSSL tries to read your .srl file which I think is a salt file needed to generate certificates. So because of the fact that the file by default lives outside your home directory, your terminal won't be able to read it if it doesn't have root access.

[2016-05-11 10:46] dsingh07 commented on #74
This issue is directly related to the fact that gen-certs was skipped.

You can manually follow the script to generate the certificates and upload them to Jenkins slave (correct directory should be //root/.docker/)

[2016-05-11 10:57] oscarrenalias commented on #73
I could run as root but I won't 👎, as I don't see a clear reason for doing so and I think it's the wrong solution.

Besides, can you guarantee that the rest of the script will find the .srl file if it ends up under /Users/oscar.srl and not /Users/oscar.renalias/<original-path>/?

[2016-05-12 20:17] larrywright commented on #73
Not meaning to hijack this issue, but I wanted to point out that it's not limited to OS X. If you run the ADOP setup in a non-Administrator windows terminal session, it also fails to generate the SSL certificates and then fails silently.

[2016-05-16 12:49] nickdgriffin commented on #73
Yep, it's a known problem and that's why the readme states to run as administrator - it's existed since the beginning - and once that requirement has been satisfied everything works as expected. I believe #75 addresses/eliminates this issue though by forcing it to create the file somewhere that doesn't require root.

[2016-05-17 09:16] nickdgriffin opened #77 "Move temporary folders out of $HOME"
Quoting @oscarrenalias in #75:

[2016-05-17 09:18] nickdgriffin commented on #68
@teamschwarz  Can you confirm if this issue can be closed now or not please?

[2016-05-17 10:11] robwells57 commented on #77
Hi Nic,

Don't forget the diff between /tmp and /var/tmp, e.g. TTL and location!

</Linux_101>

cheers,
Rob

On 17 May 2016 at 10:16, Nick Griffin <notifications@github.com> wrote:

[2016-05-17 10:12] robwells57 commented on #77
Apologies for the typo Nick.

On 17 May 2016 at 11:11, Robert Wells <robwells57@gmail.com> wrote:

[2016-05-17 10:27] oscarrenalias commented on #77
That's why we should use something like mktmp, right?

[2016-05-17 23:09] nickdgriffin commented on #71
I'm really not a fan of us trying to re-use the .aws directory as that's normally handled by some Python magic in the AWS CLI so that part might be stripped out in favour of something less inventive but not as fragile.

Also, I hope those credentials aren't active any more!

[2016-05-17 23:19] robwells57 commented on #71
Aka redact your credentials before posting on public forums, i.e. don't
wave your secret key around in public! :-)
On 18 May 2016 12:09 a.m., "Nick Griffin" <notifications@github.com> wrote:

[2016-05-18 06:05] oscarrenalias commented on #71
No, that API key is no longer valid 😇

[2016-05-18 06:06] oscarrenalias commented on #71
Regarding the issue, why not drop this approach and simply force everyone to expose these values as environment variables?

[2016-05-18 08:12] nickdgriffin commented on #71
That's the direction I'm heading in. We had that originally and people wanted to use the credentials file but then it turns out there are some cases where people have multiple sets of credentials that it couldn't handle, and it'd also use the contents of the file even if the parameters were provided etc.

I'd happily strip it all out in favour of environment variables and drop the parameters from

[2016-05-18 09:04] oscarrenalias commented on #71
Yeah, I also had an issue with the script using credentials from the file despite the fact that I was providing them as parameters.

[2016-05-18 09:52] #12 closed

[2016-05-20 08:54] emgsilva opened #81 "ADOP VM memory specs"
I have been playing with ADOP, and getting it up (installed) and running takes a very good deal of time! I did not change the default memory allocated to creating the VM, and was wondering if something was not working fine. After a while, I simply increase the default memory from 2GB to 4GB and creation/startup times got "more reasonable".

Do you have any experience on "minimal" memory that shoul

[2016-05-20 12:55] nickdgriffin commented on #81
We've got this issue already raised on this topic: #15

Basically, the more the merrier!

[2016-05-20 13:13] emgsilva commented on #81
Thank you Nick! Did not see the other issue!

Nevertheless, I think it would be good to define a higher default (like proposed on the other issue - maybe 8GB is too much as default though - but should be mentioned as the optimal), and make it clear on the documentation / requirements, as it may lead to strange situations!

[2016-05-20 13:13] #81 closed

[2016-05-20 14:11] nickdgriffin commented on #81
That's why I asked for a PR :)

[2016-05-23 14:35] nickdgriffin commented on #15
I think this should be fixed in #83 so that at least the CI part of the pipeline succeeds.

[2016-05-25 13:37] bzon opened #86 "Create a Non Production or Lite version CF Swarm Template that deploys ADOP"
A a CF template that deploys ADOP docker container tools in a swarm cluster but only in a single availability zone with a minimal setup and security for simple development environment.

Here is a sample work that I did for one of my project.  https://github.com/bzon/adop-docker-compose-1/blob/master/provision/aws/swarm/CF-ADOP-Cluster-Lite.json

Some extensions has been made here like adding gitla

[2016-05-29 16:52] bzon opened #90 "Selenium Grid will not work when using a docker overlay network"
I'm currently using a swarm cluster with docker overlay network and had the same issue as below. I could not access Selenium Grid.

Problem Reference: https://github.com/SeleniumHQ/docker-selenium/issues/51
http://automatictester.co.ukk/2012/10/27/selenium-grid-2-0-and-remotehost-parameter/

Logs from selenium hub container:
selenium-hub             | 16:59:45.925 INFO - Registered a node http://1

[2016-06-02 00:39] midalias opened #93 "Reference_Application_Performance_Tests job failing due to not finding apache-jmeter-2.13.tgz"
The job Reference_Application_Performance_Tests job is failing due to not finding apache-jmeter-2.13.tgz file specified on section "Execute shell". The file is not listed on https://www.apache.org/dist/jmeter/binaries/. The file listed is apache-jmeter-3.0.tgz.

I modified the job (on a deployed Jenkins) to use the apache-jmeter-3.0.tgz and I am getting error "BUILD FAILED
/workspace/ExampleWorksp

[2016-06-02 06:32] deors commented on #93
I think we should revert to 2.13 until we've had the time to explore the upgrade path, not only for style version, also to verify that existing scripts work well once the version is bumped to 3.0

[2016-06-02 19:43] josequaresma commented on #73
This is still failing for me but #75 should have fixed it right? Maybe I am doing something wrong, but I am getting this:

`$ ./adop compose gen-certs ${DOCKER_CLIENT_CERT_PATH}
Generating client certificates for TLS-enabled Engine
Generating RSA private key, 4096 bit long modulus
......................................................................................................................

[2016-06-03 09:11] nickdgriffin commented on #73
We use it to cut out noise. It could start throwing things into log files instead though so it isn't lost but also doesn't clutter the output.

[2016-06-04 03:40] midalias commented on #93
@nickdgriffin said this on Hipchat: "Griffin, Nicholas·Jun-2 9:30 AM
OK. Really we need to find a working URL for that binary and then update the cartridge with it I think, that'd be the quickest fix. I don't know enough about JMeter to know if jumping to 3.0 will cause issues - plus if that binary moves we'll just have the same issue next time."

Giovanni helped me to find the URL where the file

[2016-06-04 03:44] midalias commented on #93
@deors, I tested the use of the version 3.0 and it worked, but after reading @nickdgriffin's comment I started looking for the URL of the 2.13 version. My coworker Giovanni found it and I updated in the jenkins job (deployed not script/image). I also sent to Nick the URL so his team can update it in the right item in the repository.

Thanks for reading the issue and providing your point of view.

[2016-06-05 15:18] josequaresma commented on #77
I have worked a bit on this. I will make a pull request soon. The main point here is that for windows to work on one of the steps (docker cp ${TMP_FOLDER} jenkins-slave:${CERT_PATH}) then the temporary folder cannot be in /tmp because it looks like the way docker performs the copy in git bash is to convert the path to Windows path and it converts /tmp/... to C:\tmp and then it fails because C:\tmp

[2016-06-05 15:19] josequaresma opened #94 "Reference_Application_Deploy_ProdA failing"
The Reference_Application_Deploy_ProdA task on the pre packaged example is failing for me with the following error. Am I doing something wrong when executing it?

`+ docker cp /workspace/ExampleWorkspace/ExampleProject/Reference_Application_Deploy_ProdA/target/petclinic.war ExampleWorkspace_ExampleProject_PRODA:/usr/local/tomcat/webapps/
no such directory
Build step 'Execute shell' marked build as

[2016-06-06 17:18] anton-kasperovich commented on #94
@josequaresma there is "Create_Environment" Jenkins job in ExampleProject (this job is also visible from "Environment_Provisioning" pipeline), you have to run it with value "PROD" before actual deployment attempt from a reference application pipeline. Unfortunately, error message is not so informative, it's just because you doesn't have deployed production (PROD_A/PROD_B) configuration.

[2016-06-06 23:02] midalias opened #95 "Reference_Application_Regression_Tests job randomly failing because the 2 containers are not created on the same host"
Two docker containers are created during the build of the Reference_Application_Regression_Tests job. When the containers are created on different hosts in a Docker swarm, the job fails with error "Cannot locate configuration source zap-test.session"

[2016-06-06 23:20] midalias commented on #95
**Solution**: With support from @nickdgriffin, we modified the "Execute shell" section of the job adding " -e affinity:container==jenkins-slave" to the _docker run_ commands so that the containers will be created on the same host the jenkins-slave container is.

I sent an email to Nick on 06/03/2016 with the the solution described above.

[2016-06-06 23:32] midalias opened #96 "/job/ExampleWorkspace/job/ExampleProject/job/Create_Environment job randomly failing on a Docker Swarm deployment"
Some times the Create_Environment job fails with error “nginx: [error] open() ‘/run/nginx.pid’ failed (2: No such file or directory)”

We believe this errors is because the nginx process is not started by the moment of the job's execution. If that's the case, Giovanni and I think we can solve this using either a loop or a sleep command. It needs to be tested.

[2016-06-07 06:46] josequaresma commented on #94
Thanks a lot for the help @anton-kasperovich , that did it!

[2016-06-07 06:46] #94 closed

[2016-06-07 16:37] deors commented on #93
Regarding the location of the binary, it should not be needed if we leverage the Maven JMeter plug-in. That plug-in isolates the location of JMeter binaries and reduces the dependency with the actual location of the project binaries, as it only needs the binary artifact in Maven's central. The ref pipeline from blueprint leverages it and we have the approach documented in detail in the blueprint g

[2016-06-07 16:38] deors commented on #93
By the way, should this issue be moved to adop-java-cartridge repo instead of adop-docker-compose? Can it be done, @nickdgriffin?

[2016-06-07 18:00] josequaresma commented on #73
@nickdgriffin would it be okay to forward to a log file and then delete that file in the end if everything goes well?

[2016-06-08 23:33] bzon opened #98 "Latest Tag of sstarcher/uchiwa broke ADOP sensu-uchiwa service"
I just noticed a while ago while testing adop that sensu uchiwa service is not working as it used to be last night and I saw that there is a new tag that was pushed to this repo. To fix, I had to hardcode the last working version to 0.15.0.

sensu-uchiwa:
  container_name: sensu-uchiwa
  restart: always
  **image: sstarcher/uchiwa:0.15.0**
  net: ${CUSTOM_NETWORK_NAME}
  environment:
    SENSU_HOS

[2016-06-09 13:44] anton-kasperovich commented on #98
@bzon image was tagged and merged, please check it

[2016-06-09 13:49] bzon commented on #98
Thanks @anton-kasperovich. closing this issue now

[2016-06-09 13:49] #98 closed

[2016-06-12 19:29] josequaresma opened #101 "Reference_Application_Code_Analysis fails when Reference_Application_Build build number is ahead of Reference_Application_Unit_Tests"
Hi,

In the Java_Reference_Application pipeline in Jenkins, it seems like Reference_Application_Code_Analysis fails when the build number of the Reference_Application_Build is higher than the build number of the Reference_Application_Unit_Tests (this would happen if a build fails at some point). I was getting the following error:

[code]

After triggering a manual build on Reference_Application_Un

[2016-06-17 09:53] nickdgriffin commented on #101
Can this be closed here and raised in the correct repository please?
https://github.com/Accenture/adop-cartridge-java

[2016-06-17 09:53] nickdgriffin commented on #96
Can this be closed here and raised in the correct repository please?
https://github.com/Accenture/adop-cartridge-java

[2016-06-17 09:54] nickdgriffin commented on #95
Can this be closed here and raised in the correct repository please?
https://github.com/Accenture/adop-cartridge-java

[2016-06-17 09:54] nickdgriffin commented on #93
Can this be closed here and raised in the correct repository please?
https://github.com/Accenture/adop-cartridge-java

[2016-06-17 09:54] nickdgriffin commented on #74
Can this be closed here and raised in the correct repository please if it is still an issue?
https://github.com/Accenture/adop-cartridge-java

[2016-06-17 19:44] midalias commented on #93
Closing the issue as the solution (PR https://github.com/Accenture/adop-cartridge-java/pull/26) was merged into the repository.

[2016-06-17 19:45] #93 closed

[2016-06-17 19:47] midalias commented on #95
Closing the issue as the solution ([PR 26](https://github.com/Accenture/adop-cartridge-java/pull/26)) was merged.

[2016-06-17 19:47] #95 closed

[2016-06-17 19:49] midalias commented on #96
Closing this issue. It will be raised again in the [adop-cartridge-java repository](https://github.com/Accenture/adop-cartridge-java) as requested by @nickdgriffin.

[2016-06-17 19:49] #96 closed

[2016-06-17 20:00] midalias commented on #96
New issue is Issue 28 [here](https://github.com/Accenture/adop-cartridge-java/issues/28)

[2016-06-18 19:21] josequaresma commented on #77
I have now created a PR for this #104 . Please let me know what you think, any feedback is very welcome

[2016-06-21 20:53] #15 closed

[2016-06-21 20:57] deors opened #107 "Several env vars are not properly sourced when re-running adop compose command"
Once you have created a platform, if at a later point you wish to docker-compose commands, for example to restart some of the services, first you need to source 3 files defining env vars. However, there are a few variables that seem not to be sourced, or at least that what it seems. For example if running docker-compose run proxy, the output is this one:
WARNING: The CUSTOM_NETWORK_NAME variable i

[2016-06-21 21:06] deors opened #108 "Gerrit and SonarQube URLs in Jenkins should refer to public URL, not internal"
Currently in docker-compose.yml file, lines 224 and 227, inside Jenkins configuration, we are using internal URLs for front-ends of Gerrit and SonarQube. As a result, links in Jenkins do not work. We should replace them with public URLs, for example:

224: GERRIT_FRONT_END_URL: "http://gerrit:8080/gerrit"  => "${PROTO}://${TARGET_HOST}/gerrit/"
227: SONAR_SERVER_URL: "http://sonar:9000/sonar/" =>

[2016-06-24 14:20] nickdgriffin commented on #108
I think we've had problems setting it to the public URL as some plugins can't get past the basic auth. Certainly with SonarQube we tried changing it and it broke the integration and unfortunately those plugins don't have a way of specifying the UI link versus the link for them to use.

[2016-06-28 03:40] midalias commented on #101
Hi @josequaresma,
we had this issue with ADOP on Azure solution. We resolved it by using the option using latest successful build instead of providing $B as parameter.

[2016-07-03 19:31] #86 closed

[2016-07-18 18:56] ddelmoli commented on #71
The issue of trying to use the stored credentials even when you provide them on the command line is that you're using the bitwise operators (&, |) instead of the logical operators (&&, II) in your compound bash if tests. I'll try to fix and submit a pull request for this if I get time.

[2016-07-23 12:19] ismarslomic opened #115 "Unknown log opt 'syslog-tag' for syslog log driver"
### My environment:
- OSX 10.11.6
- Docker version 1.12.0-rc4, build e4a0dbc, experimental

### Docker info:
[code]

### Steps to reproduce error:
- git clone https://github.com/Accenture/adop-docker-compose
- ./quickstart.sh -t local -m adop-machine -u ismar -p slomic

### Error displayed in console (after pulling Docker images is done):
[code]

[2016-07-23 12:48] ismarslomic commented on #115
Renaming log-opt option from `syslog-tag` to `tag` in `/etc/logging/syslog/default.yml` resolves this issue. I guess this is because Im running later version of Docker then this project? If so, README shall state which Docker version shall be installed as prerequisite!

[2016-07-25 08:42] mihail-dev commented on #115
@ismarslomic you are right about replace the syslog-tag with tag as of docker version 1.12 syslog-tag has been deprecated - https://docs.docker.com/engine/deprecated/#/driver-specific-log-tags.

Tag seems to be introduced in v1.12 so maybe it will not work for older versions of docker - https://docs.docker.com/engine/admin/logging/log_tags/?

[2016-07-25 08:59] ismarslomic commented on #115
@mihail-dev: Im not sure if there are any solutions to make sure logs tags can be backward compatible. However, my point is that documentation shall state which Docker version must be installed and that is supported by the platform. Otherwise you will run in similar issues in upcoming releases of Docker.

[2016-07-25 09:48] mihail-dev commented on #115
I agree with this, maybe you can submit a PR?

Another way we can solve this is to create a second file like this one with the tag option instead of syslog-tag - https://github.com/Accenture/adop-docker-compose/blob/master/etc/logging/syslog/default.yml. Then depending on the docker version call the right file from here - https://github.com/Accenture/adop-docker-compose/blob/master/cmd/compose#L30

[2016-07-26 22:06] adopustampa opened #116 "Please update quick start documentation"
In the process of setting up ADOP locally, I believe there is a couple of things that would be helpful to the consumer in the documentation.

1. In the section to run locally on the setup of the machine
docker-machine create --driver virtualbox --virtualbox-memory 2048 <YOUR_MACHINE_NAME>

2048 is not enough memory to run ADOP, it is suggested to have at least 8192 (or 8G).

2. Adding a example co

[2016-07-27 14:58] lucentj opened #117 "quickstart issue on linux"
The quick start continually fails on aws using Amazon Linux AMI 2016.03.3 (HVM) with the error

ERROR: .IOError: [Errno 2] No such file or directory: u'././compose/elk.yml'

this is the parameter passed to the docker-compose command. I've confirmed that compose/elk.yml exists. I've also started with a fresh image and a fresh clone of the code and quick start continually fails at this step.

[2016-07-28 05:50] anton-kasperovich opened #121 "Broken TravisCI builds with no reason"
From time to time we have broken TravisCI builds, even if functionality wasn't changed at all, like changing README files, some of examples:

- https://travis-ci.org/Accenture/adop-docker-compose/builds/147875007
- https://travis-ci.org/Accenture/adop-docker-compose/builds/147816624

If we would re-trigger these builds - they would be "green" and it's a bit confusing, why they fail from the beginn

[2016-07-28 16:40] nickdgriffin commented on #117
That's interesting.

So the path to that file comes from:
`
ELKFILEOPTS="-f ${CLI_DIR}/compose/elk.yml"
`

And CLI_DIR comes from:
`
export CLI_DIR=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
`

So can you run the above and see what the output is please?

I'd guess what's happening is that it's failing to determine the value for CLI_DIR correctly which is what is causing the problem, in which ca

[2016-07-28 16:51] nickdgriffin commented on #107
Certainly the three password values should be being brought in - that's what sourcing credentials.generate.sh is for.

Is this also a problem if you run "./adop compose run proxy"? That is a pass through that should handle making sure all the correct things are picked up, which also means if you are using something other than the default CUSTOM_NETWORK_NAME and the auto-detected TARGET_HOST that y

[2016-07-28 16:54] lucentj commented on #117
GNU sed version 4.2.1
GNU bash, version 4.2.46(1)-release (x86_64-redhat-linux-gnu)

Running the commands execute with no output and return to a prompt.

Running quickstart results in the same error

ERROR: .IOError: [Errno 2] No such file or directory: u'././compose/elk.yml'

From: Nick Griffin [mailto:notifications@github.com]
Sent: Thursday, July 28, 2016 11:41 AM
To: Accenture/adop-docker-comp

[2016-07-29 17:03] nickdgriffin commented on #115
In an ideal world Docker would stop introducing changes that weren't backwards compatible!

[2016-07-29 17:06] ismarslomic commented on #115
@nickdgriffin good point, however, you should expect backward and non-backward compatible changes from Docker team as Docker is heavily under development in these days. This has of course challenges, but hopefully they are simplifying then complicating new ways of solving things. :)

[2016-08-01 10:00] nickdgriffin commented on #115
@ismarslomic I always expect non-backward compatible changes, seeing as whenever Docker do anything major they always break something from a previous version. For example Compose v2 completely broke having multiple compose files with custom networks and logging drivers for v1, and didn't implement them fully in v2 (initially) so an upgrade wasn't immediately possible. It's tricky when they do stuf

[2016-08-02 20:24] nickdgriffin commented on #116
Ah, that's a discrepancy between the documentation and the actual script which was fixed in #83.

Ultimately all of that information will move into the GitHub Pages site too.

[2016-08-02 20:26] nickdgriffin commented on #117
Yes sorry should have been a bit clearer, if you run those exact commands you'll need to run this to see each as they are just setting a variable and environment variable respectively:
`echo $ELKFILEOPTS`
`echo $CLI_DIR`

[2016-08-02 20:29] nickdgriffin commented on #31
I believe this was initially caused by a new slave image having been built and the Swarm jar that we used had been moved however the image build hadn't failed.  #126 includes the new Slave version that's built with the new URL which shouldn't functionally change anything.

[2016-08-02 20:47] lucentj commented on #117
Yep I follow ... the environment variables are not set outside of running quickstart so they return nothing. I edited the compose file to echo the variables as quickstart was running and re-ran quickstart.

$ELKFILEOPTS returns:  -f ./compose/elk.yml

$CLI_DIR returns: .

[2016-08-02 22:58] nickdgriffin commented on #121
Yeah, this is bugging me now so I'll see if I can take a look at why this is happening this week.

[2016-08-02 23:23] nickdgriffin commented on #117
Yeah, that's why I suggested just copying the commands I pasted in and running them in your shell before echoing them out.

I think I'm expecting them to return the absolute path but I'll confirm when I'm on a machine I can run it from.

[2016-08-04 09:05] mihail-dev commented on #117
I've just tried this commands on RHEL 7 and these are the results:

[code]

[2016-08-04 14:42] #115 closed

[2016-08-05 11:32] #121 closed

[2016-08-05 14:48] nickdgriffin commented on #117
Well the paths are certainly what I'd expect with how we are working out the value of CLI_DIR, and I've not had any issue with this on CentOS Linux release 7.2.1511 with Docker Compose 1.8.0 and I've got the same version of bash and sed 4.2.2.

What version of Docker Compose are you using @lucentj please?

[2016-08-08 14:21] lucentj commented on #117
docker-compose version 1.7.1, build 0a9ab35

[2016-08-11 23:41] bzon opened #133 "Enhancement: Platform Extension for CloudFormation to be orchestrated by Ansible"
# Enhancement Summary

Instead of using AWS cli in the Platform Extension job's execute shell to run Cloudformation templates, we can utilize Ansible to orchestrate it and have a flexible way of launching user's templates without locking them with predefined 'CF parameters'. For now let's just focus on CloudFormation.
# [Update]

Attached the sample screenshot from my Jenkins instance.

I just tes

[2016-08-12 09:49] nickdgriffin commented on #133
Interesting stuff!

Could this be a way to launch new services via Ansible instead of specifically just being for AWS? i.e. it'd fall under service/ansible in the platform extension (and therefore be an addition to the spec).

I think I'd want this method to exist alongside the existing one instead of replacing it, just for compatibility, too.

[2016-08-12 09:58] bzon commented on #133
@nickdgriffin the new way to launch new services, hopefully yes, there is a lot of ansible module that we can use to faciliate all of the extensions. E.g, for docker, the [container module](https://docs.ansible.com/ansible/docker_container_module.html) or [line in file](http://docs.ansible.com/ansible/lineinfile_module.html) to modify nginx configurations..

For making it compatible with the old s

[2016-08-12 12:39] nickdgriffin commented on #133
I think in that case I could see this as "service/ansible" then instead of changing the existing "service/aws". I like the idea of having different ways to launch the same thing if it gives people the option of choosing their orchestration/deployment tool depending on what they are familiar with and what their use case is.

[2016-08-13 18:59] bzon commented on #133
@nickdgriffin I agree with the "service/ansible" idea! :)

FYI - @paoloxide @arcyteodoroacn

[2016-08-15 19:40] anton-kasperovich commented on #133
@nickdgriffin agree, as tomorrow someone could try to change on Chef or Puppet or whatever tool :)
@bzon Would you have a time to implement it as "service/ansible"? Feel free to ask for any assistance on this, happy to help.

[2016-08-16 16:42] teamschwarz commented on #74
where is the script that is mentioned in: "You can manually follow the script to generate the certificates and upload them to Jenkins slave (correct directory should be //root/.docker/)"

[2016-08-16 16:50] dsingh07 commented on #74
Hi @teamschwarz

The certificate generation function is part of a cli command in adop compose init found here: https://github.com/Accenture/adop-docker-compose/blob/master/cmd/compose#L181

[2016-08-18 06:37] bzon commented on #133
@anton-kasperovich I would be happy to.

Let's plan this @paoloxide @arcyteodoroacn

[2016-09-22 15:52] anton-kasperovich commented on #90
Have the same bug on Swarm, will fix it as @bzon provided the working solution, thank you!

Also, we want update Selenium Grid and Chrome/Firefox nodes to the latest stable version, will send a pull request.

[2016-09-25 11:28] bzon commented on #50
@nickdgriffin @arthur-kovalenko Do we have any clue why this happens? The work around does work if using the instance ip.

[2016-09-26 15:42] #90 closed

[2016-09-27 09:09] zrks opened #146 "cp target is not a directory"
Hi team - docker-compose fails:
![image](https://cloud.githubusercontent.com/assets/7746021/18867021/2ae7545e-84ab-11e6-8995-a9eabe1e6a7f.png)

Why there is something like this in entrypoint??
![image](https://cloud.githubusercontent.com/assets/7746021/18867039/42a1d56a-84ab-11e6-8ffc-656cc904d837.png)

[2016-09-27 11:08] mihail-dev commented on #146
Hey @zrks,Take a look at etc/volumes/default.yml (https://github.com/Accenture/adop-docker-compose/blob/master/etc/volumes/local/default.yml#L4). This is when the directory is being created.

Because you are running the main docker-compose file, the volumes compose one is not executed and the directory is not created. The copy commands throws the error because of this.

I would recommend using the

[2016-09-27 11:52] zrks commented on #146
Hi - yes already inspected that - thanks for reply!
We can close this issue then.

[2016-09-27 11:52] #146 closed

[2016-10-04 15:54] chuymarin opened #150 "Got 404 while creating index in elasticsearch"
I'm trying to create a new index in elasticsearch from jenkins, here is the code that I'm executing:

[code]

I'm following instructions from here: [elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/1.4/_create_an_index.html#_create_an_index)

[2016-10-06 07:47] anton-kasperovich commented on #150
Hello @chuymarin , as ElasticSearch is part of ELK stack, from Jenkins, i would suggest you to work with ElasticSearch directly, without proxying requests through NGINX.

[code]

This way you wouldn't need even specify credentials as it's internal docker network between containers.

[2016-10-06 15:49] chuymarin commented on #150
That's really helpful! thanks @anton-kasperovich, closing issue.

[2016-10-06 15:49] #150 closed

[2016-10-10 17:00] #117 closed

[2016-10-12 21:05] SachinKSingh28 commented on #31
We should be able to close this as the slave container seems to come up cleanly without any issues.

[2016-10-12 21:28] SachinKSingh28 commented on #30
@gogodi91 - I believe #103 fixes this issue. Are you happy for me to close this?

[2016-10-14 20:10] josequaresma commented on #73
In PR #104 the certificate generate is redesigned a bit and not using the home folder anymore for temporary folders (it is using mktemp). Could it be that this issues is fixed with that PR? Could you check @oscarrenalias ?

[2016-10-14 20:21] josequaresma commented on #74
I think an important point here is that when the certificate generation fails as part of running quickstart, it kind of fails silently (the script does stop, but it does not show an error to the user) and then when you go on and try the platform, the certificates are not generated, and it fails. PR #104 should help avoiding the certificate generation error itself, but if it does fail on the cert g

[2016-10-18 17:22] mihail-dev opened #155 "adop cli: DOCKER_HOST variable not set anywhere but required by jenkins slave"

[2016-10-19 15:14] nickdgriffin commented on #155
What are the steps to reproduce please? I assume that you are using the CLI directly off a Docker Engine?

[2016-10-24 19:00] acn-adammclark opened #158 "Host Timeout on OSX"
[code]

I'm trying to get ADOP running in my personal AWS instance using the quickstart guide but I keep getting the error bellow.

I've run it about 6 different times. A few times from master, a few times from the tagged branch 0.2.2. I've tried it in different regions.

Any help would be appreciated.

[code]

[2016-10-24 20:58] anton-kasperovich commented on #158
Hi @acn-adammclark , is there's any chance that you have blocked 2376 port in your network? I've seen this error often and all those times it was related to blocked port unfortunately.

[2016-10-26 01:13] acn-adammclark commented on #158
@anton-kasperovich that was the issue. Thanks for the help. Now to figure out why nginx never comes online.

[2016-10-26 01:38] acn-adammclark commented on #158
Well I've waited for nearly 35 minutes for nginx to respond. Is this expected?

[2016-10-27 16:03] anton-kasperovich commented on #158
No, it is not expected, usually it's take about ~2 minutes in total of sleep statements to have running NGINX. I've heard about some random errors which people can't reproduce, they've just re-created ADOP stack and everything worked perfectly fine. Is it your case too? Can you please re-create and check?

[2016-10-28 20:03] acn-adammclark commented on #158
I figured it out. You have to change the security policy before quickstart gets around to testing for services. Port 80 isnt accepting incoming connecitons with the default policy docker sets up.

I'll provide a PR to update the quickstart guide.

[2016-10-28 20:03] #158 closed

[2016-11-07 11:12] arunamat commented on #158
@acn-adammclark Can you please share the steps that you followed to fix this issue? We are facing the same issue.

[2016-11-07 15:41] adamclerk commented on #158
@arunamat The default security group that docker-machine creates doesn't have open ports that support ADOP.

Take step 7 of the instructions
[code]
and go into AWS console and update the ports after step 4 before step 5 while the images are being downloaded.

[2016-11-28 03:02] RobertNorthard opened #167 "Localisation - the wiki is blocked in certain countries"
The docker compose wiki is blocked in certain countries. This may make it difficult for someone to learn about ADOP cartridges and platform extensions etc.

To resolve this we could include instructions on viewing it offline but the page contains third-party dependencies which are also blocked;
* https://fonts.googleapis.com/css?family=Open+Sans:400,700)

See [Accenture/adop-nginx#28](https://gith

[2016-11-29 19:00] hjnijlunsing opened #169 "Vanilla ADOP installation doesn't seem to work"
I used a "blank" Cent-OS7 installation, installed the pre-requisites (Docker, Git, etc) and ran:

export COMPOSE_HTTP_TIMEOUT=900
adop compose init -verbose

After x minutes it resulted in a continuous: "Jenkins was unavailable, so slept for: 30 secs"

Full replay: https://asciinema.org/a/6miv9bqfxyhx7defivf86fcbm

[2016-12-01 23:10] AnkshSharma opened #170 "ADOP setup in Client Environment."
Hi,

I was trying to setup ADOP platform in client environment. ADOP is not starting because of jenkin is unavailable.

Regards,
-Ankush

[2016-12-05 16:58] nickdgriffin commented on #50
Just saw this @bzon - it's because the logic for determining the URL is hard-coded for a specific use case and doesn't work for any others, and needs fixing.

[2016-12-06 12:01] nickdgriffin commented on #169
What size machine is being used please? Does it have 12-16GB of RAM?

[2016-12-06 13:26] hjnijlunsing commented on #169
CentOS 7 with 6GB RAM:

[root@elite ~]# cat /proc/cpuinfo
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 15
model name      : Intel(R) Core(TM)2 Quad CPU    Q6600  @ 2.40GHz
stepping        : 11
microcode       : 0xba
cpu MHz         : 1596.000
cache size      : 4096 KB
physical id     : 0
siblings        : 4
core id         : 0
cpu cores       : 4
apicid

[2016-12-07 14:31] hjnijlunsing commented on #169
Memory does not seem to be the problem. looking at the quickstart.sh it would create a virtualbox machine with only 6Gb of memory. Thus w/o virtualbox it should also work with 6gb, correct?

[2016-12-09 13:38] kramos opened #172 "Pre-creation network access validation"
I've heard about some folk having a bad experience spinning up ADOP from a location with various ports blocked.  Has anyone experienced this and if so what failed and when?  Obviously if we can move the failures earlier in provisioning people will be happier.

[2016-12-09 13:50] RobertNorthard commented on #172
@kramos I also find ports to be the biggest problem.

- Docker daemon port (TCP 2376) is often blocked - fails at docker-compose stage.
-  SSH port blocked - fails at docker installation stage after docker-machine has created an instance.

This is unrelated to the ADOP provisioning process. Features of the release note are also sometimes blocked (see [Accenture#nginx-28](https://github.com/Accentu

[2016-12-09 15:22] kramos commented on #172
How about something like this:
curl portquiz.net:2376 || echo ERROR: cannot connect outbound on port 2376 so won’t be able to access Docker. && exit 1
Only snag is if portquiz.net is down or blocked you could get a false negative.

[2016-12-10 17:11] NinjaPT commented on #172
@RobertNorthard @kramos
Bash has the capability to access TCP and UDP ports...
as per my raspberry pi:
`pi@raspberrypi:~ $ cat < /dev/tcp/127.0.0.1/22
SSH-2.0-OpenSSH_6.7p1 Raspbian-5+deb8u3
^C`

So we can potentially use this to see if we get a response from said ports right?

[2016-12-10 17:18] NinjaPT commented on #170
@AnkshSharma can you paste the output from the initiation of ADOP, if there are any network restrictions or if the IP changed on the host?

[2016-12-12 22:32] luismsousa opened #174 "Update the Provisioning Documentation"
Opening this ticket to track the improvement of the site section on provisioning.

Plan:

- [x] Copy the quickstart guide on the main readme to the provisioning section
- [x] Add page for using the adop cli to stand up on an existing instance
- [ ] updat the troubleshooting steps page

[2016-12-14 15:42] hjnijlunsing commented on #169
Ok, changed from Vanilla CentOS 7 to Vanilla Ubuntu 16.04.1
Now it just works...

[2016-12-14 15:42] #169 closed

[2016-12-19 20:30] AnkshSharma commented on #170
Not able to access files, because of restricted network. Closing this issue.

Thanks ,
-Ankush

[2016-12-19 20:30] #170 closed

[2016-12-20 03:31] chad-mott commented on #172
I'm facing the same issue, both when I execute from my mac and when I execute from an EC2 instance.
Mac:
```Error creating machine: Error checking the host: Error checking and/or regenerating the certs: There was an error validating certificates for host "54.174.11.10:2376": dial tcp 54.174.11.10:2376: getsockopt: connection refused```
EC2, has a slightly different error:
[code]

Both machines hav

[2016-12-20 20:43] chad-mott commented on #116
@nickdgriffin the script is updated, yes, but if you follow the instructions and create the docker-machine first, it "finds" the machine, and does not recreate. Hence the need to update the docs :)

[2016-12-20 22:19] NinjaPT commented on #172
@chad-mott can you reach port 2376 on the target instance from the host you're running the command from?

[2016-12-20 22:42] chad-mott commented on #172
Yes

On Dec 20, 2016, at 4:19 PM, Luis Sousa <notifications@github.com<mailto:notifications@github.com>> wrote:

@chad-mott<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_chad-2Dmott&d=DgMCaQ&c=eIGjsITfXP_y-DLLX0uEHXJvU8nOHrUK8IrwNKOtkVU&r=awfRDlSyeo0JIr3RHBE09mxTLabSR6JInqgcT7beGlM&m=jC_q5WTgGZ4AzHUVqMKZFLNHh9hAVdJhbCRDoTaoRlY&s=7rxA3l9BBCV1O0S58iRmFY2hQiuyt2-d9fusdWoLu1g&e=> can

[2016-12-20 23:26] chad-mott commented on #172
also, not in the readme, but `./adop compose -i localhost init` from a running instance works

[2016-12-28 22:15] chadmott commented on #172
FYI, this works now using docker machine v0.9.0-rc2
To validate, I downgraded back to 0.8.2, and it failed again.

[2017-01-03 08:45] cloudmunch1 opened #179 "Tried to install this platform and getting the following errors."
Attempt 1:

No availability zone specified - using default [a].
Your AWS parameters file already exists, deleting it...
Creating a new AWS variables file...
Running pre-create checks...
Creating machine...
(myadop) Launching instance...
Waiting for machine to be running, this may take a few minutes...
Detecting operating system of created instance...
Waiting for SSH to be available...
Detecting th

[2017-01-03 21:39] kramos commented on #179
I had the same problem and had to upgrade my docker-machine:
https://github.com/docker/machine/releases/tag/v0.9.0-rc2
Thanks to @chadmott for the tip here:
https://github.com/Accenture/adop-docker-compose/issues/172

[2017-01-04 07:08] cloudmunch1 commented on #179
Hmm. I started from a fresh server on aws.
The machine was installed by the script. I did not do a local install. how do I change the version of docker-machine it installs? you want me to edit the compose file and try? Wondering why is it differerent for me only.

[2017-01-04 10:22] dsingh07 commented on #179
Hi @kramos @cloudmunch1

This is a known issue with the older version of docker-machine, documented here: https://github.com/docker/machine/issues/3917#issuecomment-266741847

In brief, it's due to the default AMI not being able to pull down a specific deprecated Linux package.

The solution is to upgrade your docker-machine version, or to update quickstart.sh and add a custom AMI ID.

[2017-01-04 11:22] cloudmunch1 commented on #179
I am not seeing any AMI to be passed in quickstart.sh. Can you please help with the exact change to be done pls?

Remember, I did not install docker-machine seperately. I just ran quickstart.sh and I would expect the right compatible version of docker-machine to come up right?

[2017-01-04 11:43] kramos commented on #179
Hi @cloudmunch1 sorry for not being clearer.  As part of the [pre-reqs](http://accenture.github.io/adop-docker-compose/docs/prerequisites/) you will have installed Docker Engine and [Docker Machine](https://docs.docker.com/machine/) on the machine from which you are running the quickstart.sh script.  Quickstart is running your local docker-machine command line tool [here](https://github.com/Accent

[2017-01-05 01:24] cloudmunch1 commented on #179
ah ok. Trying now. I was at docker-machine version 0.8.0, build b85aac1.

[2017-01-06 10:46] NinjaPT commented on #174
#175 Pull request for the first 2 topics fix.

[2017-01-10 23:36] parvez99 opened #183 "'Ngnix was unavailable' message loop during quickstart installation"
I am new to ADOP trying to get started with quickstart script. After setting up AWS credentials and prerequisites for ADOP evaluation mode, I tried executing quickstart.sh using default region eu-west-1 ( Ireland) where the script executes well up until Ngnix installation !

The script fails at "Waiting for Ngnix to become available " message followed by "Ngnix was unavailable" message loop. Is th

[2017-01-10 23:46] RobertNorthard commented on #183
@parvez99 does the docker-machine security group, which is assigned to your ADOP EC2 instance have TCP port 80 open? If not you'll need to add the rule.

[2017-01-11 16:15] pattyhama opened #184 "Test connection at "Docker Builder" on Jenkins fails"
Using ADOP with default configuration on my local machine, under Jenkins global configuration, I have specified Docker REST API URL (somethig like http://x.x.x.x (docker host ip, i.e. ADOP machine):2376)  to use docker command, however it gives result

Could anyone advise this please?

Below is the Docker version (version should be new):

Below is the "Docker build step plugin" version of Jenkins:

[2017-01-11 18:36] parvez99 commented on #183
Hi RobertNorthard,

Thanks for the reply. Yes it was the port 80 issue. I now have the ADOP platform up and running .
Thanks again

[2017-01-11 18:36] #183 closed

[2017-01-12 11:52] nickdgriffin commented on #184
Is the x.x.x.x your local machine? Can you talk to that Engine normally using the Docker CLI?

[2017-01-14 18:25] pattyhama commented on #184
Yes.

Jenkins(container) is running on my local machine (Docker Engine)
The "local machine" is running Docker with "-H tcp://0.0.0.0:2376" to accept.
Is it possible to reproduce on your end?

Now, the error result is more likely to be:

[2017-01-18 08:50] nickdgriffin commented on #184
Had a look at that plugin and it doesn't seem to have favourable reviews, can you try running Docker commands within a shell block inside Jenkins and see if that works on its own?

If they do, I'd suspect the plugin being at fault and would suggest you try this one out instead (it's also included in ADOP):
https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Docker+Build+and+Publish+plugin

[2017-01-18 16:08] pattyhama commented on #184
I tried curl to 2376 port and it works. Must be plugin's issue.
I will try the plugin that was suggested.
Thank you for your advise.

Closing issue.

2017年1月18日(水) 17:50 Nick Griffin <notifications@github.com>:

[2017-01-18 16:09] #184 closed

[2017-02-20 04:37] rajivece opened #190 "Docker daemon not starting with quickstart.sh"
Hi,
Im getting below error while running ADOP on aws with quickstart.sh

[code]

Here's is my docker-machine version

[code]
I got below logs on docke-machine

[code]

I have started the quickstart.sh from ubuntu 10.04 LTS VM.
Kindly help me to resolve this issue.

[2017-02-22 23:14] nickdgriffin commented on #190
You'll need to upgrade Docker Machine as 0.6.0 is pretty old and we recommend 0.9.0 for evaluation mode: http://accenture.github.io/adop-docker-compose/docs/prerequisites/

It's caused by the fact that when Docker's install script tries to install AUFS it fails to find the package for the kernel version being used.

[2017-02-23 07:30] bzon opened #193 "Selenium Grid is not respecting timeout values"
Having a long running selenium test or a test that is running against a page that loads very slow can cause unexpected timeouts.

To fix this I have to increase the timeout in the selenium node containers SE_OPTS variable.

Example:
[code]

[code]

Similar issue: https://github.com/SeleniumHQ/docker-selenium/issues/150

[2017-02-23 17:55] #193 closed

[2017-02-27 20:00] sergiolacolla opened #196 "Jenkins Nexus integration"
After all pipilines become finished I don't find any package into nexus repositories.

So I tried to deploy petclinic.war by curl command using Execute shell step in build task after install maven goal;  but nexus respond with   "500 Server Error".

Instead using deploy:deploy-file (I am sure that administrator password is ok in settings.xml) Nexus response is Unauthorized:
[WARNING] Could not tra

[2017-03-01 12:42] rajivece commented on #190
Nick,
Thanks for your suggestion. After upgrading the docker-machine to latest version ie. 0.9.0 I'm able to bring up the ADOPS successfully.

Now the Create Environment Job in Jenkins is failing with below message
jenkins/job/ExampleWorkspace/job/ExampleProject/job/Create_Environment/

Any suggestions, on this issue.
[code]

[2017-03-17 16:30] michael-t-dukes opened #201 "Sensitive passwords show up as environment variables in jobs"
When installing ADOP on-premise we noticed that the sensitive passwords were shown in the ENVIRONMENT VARIABLES of **all** jobs.

This means any person with access to "View" any job in Jenkins will be able to see these sensitive passwords, the following we picked out:

- CREDENTIALS_LDAP_SERVICE_USER_PASSWORD
- GERRIT_JENKINS_PASSWORD
- INITIAL_ADMIN_PASSWORD
- LDAP_MANAGER_PASSWORD
- SONAR_ACCOUN

[2017-03-20 11:01] nickdgriffin commented on #201
The problem is that they are passed in as environment variables to the container, often to be injected into Jenkins as global environment variables or into the other configuration performed by init.groovy.d stuff - some of which doesn't support the notion of credentials.

I think what would need to happen inside the image is that the environment variables would have to be scrubbed somehow, if that

[2017-03-20 17:02] kramos commented on #201
I think the designer's intent is clear in the prefix "INITIAL_".  However we can make this a lot more visible and well understood e.g. in the quickstart documentation that people should change them (and how and when).

[2017-03-24 04:03] bzon commented on #133
I'm closing this issue at least for the meantime because I won't be able to look it because of a long term project priority commitments.

[2017-03-24 04:03] #133 closed

[2017-04-04 13:03] bgmamatha opened #208 "Integrating Selenium Scripts to ADOP pipeline"
Hi,
We are using SelFit selenium automation framework to automate test cases. This framework requires 3 additional external jars to be placed in Maven repository folder. This is the prerequisite for the Selenium test scripts to run.
We need support for 1. How these jars can be placed? 2. How selenium test scripts can be triggered automatically in ADOP pipe line

Please let us know if any more deta

[2017-04-05 16:44] shashidharchava opened #210 "QuickStart is failing with local_network not found error."
Here is the output when I tried to initialize a instance on AWS

[code]

[2017-04-06 14:01] nickdgriffin commented on #210
Does "docker network ls" show that there is a network called "local_network" please?

[2017-04-06 14:11] shashidharchava commented on #210
Nick,
local_network doesn't exist.
Output from the "docker network ls" command

NETWORK ID          NAME                DRIVER              SCOPE
80420405bbdb        bridge              bridge              local
34e6b03f2d64        doc_local_network   bridge              local
e36b714d8af7        host                host                local
29aa64fde993        none                null

[2017-04-11 08:29] greg80 opened #211 "Local DNS not workin for my ADOP instalation"
Hello!

For my installation containers can not communicate with other containers from adop using network aliases.

I installed ADOP on vm (ubuntu guest running as vm machine in VirtualBox).

`adop compose init` command stopped at

I'v checked manually and jenkins returned incorrect user or password error.

I tried also login to ldap-phpadmin and got:

message.

Then I started  ldap container manua

[2017-04-11 08:58] avoidik opened #212 "Hardcoded usernames in cmd/compose"
Hi,

Please pay attention on hardcoded usernames when linking this repository from your own scripts:

https://github.com/Accenture/adop-docker-compose/blob/master/cmd/compose#L156
https://github.com/Accenture/adop-docker-compose/blob/master/cmd/compose#L157
https://github.com/Accenture/adop-docker-compose/blob/master/cmd/compose#L164

[2017-04-11 11:10] nickdgriffin commented on #211
Hello!

That's a feature of Docker container networks, and the hostname that is selected is the "container_name" from the docker-compose.yml.

This feels like more of a Docker problem than an ADOP one, are there any errors in your Engine log that might suggest there's a problem with networking?

Nick

[2017-04-11 11:11] nickdgriffin commented on #212
Hello,

I'm not clear what the issue is here, or are you suggesting it'd be convenient for these values to be environment variables so that other scripts can make use of them once sourced?

Thanks,
Nick

[2017-04-11 14:16] avoidik commented on #212
Yes, it would be great if those username will be defined as variables. Right now I've to use sed to replace those values.

[2017-04-11 15:25] greg80 commented on #211
Hi!

What is interesting in /etc/hostname of the example adop-ldap container hostname is set to 9272fa40fcfd (it is container ID). The same value is returned in `docker inspect ldap` results:

I'm running docker version: 1.12.6. I got the  same result on boot2docker image v17.04.0-ce

Could you please confirm on which version of docker aliases are set correctly? I will also try to run it on defaul

[2017-04-12 14:08] avoidik commented on #212
Incorrect credential values introduces infinity awaiting loops for services to came up.

[2017-04-20 13:50] TheTechOddBug opened #214 "Not able to create local platform due to errors with docker --tlsverify"
When the command in compose script:

`docker --tlsverify --tlscacert=${HOME}/.docker/machine/certs/ca.pem --tlscert=${TEMP_CERT_PATH}/cert.pem --tlskey=${TEMP_CERT_PATH}/key.pem -H=${DOCKER_HOST} version &> /dev/null`

do not finish properly, that script to bring up the platform do not finish ok (although platform could be created properly anyway).

I have found this issue repeatedly in local envi

[2017-04-24 21:34] santhh opened #216 "Ngnix Stuck on quickstart link"
Hello: I am trying with AWS.
Script is stuck in this. Any idea on why it's in this loop?

* Waiting for Nginx to become available
Nginx was unavailable, so slept for: 5 secs
Nginx was unavailable, so slept for: 5 secs
Nginx was unavailable, so slept for: 5 secs

[2017-04-25 01:37] santhh commented on #216
I have also noticed this. If AWS deploy fails for cert issue, will it be installed locally? when I did docker ps i saw all the processes running. May be the first looping issue relate to memory in local?

* Bringing up ADOP...
Error checking TLS connection: Error checking and/or regenerating the certs: There was an error validating certificates for host "54.70.15.223:2376": x509: certificate is va

[2017-04-25 13:21] santhh commented on #216
Provisioning to AWS is having some issues.  Has anyone seen this before?
if [ ${MACHINE_TYPE} == "aws" ]; then
    ./adop certbot gen-export-certs "registry.$(docker-machine ip ${MACHINE_NAME}).nip.io" registry
fi* Bringing up ADOP...
Error checking TLS connection: Error checking and/or regenerating the certs: There was an error validating certificates for host "35.167.200.54:2376": dial tcp 35.16

[2017-05-02 22:42] nickdgriffin commented on #216
Hello,

The first issue implies that either Nginx is not able to start, or that you do not have connectivity to Nginx.

The second issue suggests that the IP of the machine has been changed as Docker Machine has generated them for one IP but the machine has another IP - you can fix that with the suggested command though.

The third issue suggests you do not have connectivity to port 2376.

Thanks,

[2017-05-02 22:45] nickdgriffin commented on #211
Hi Greg,

I've not had/see an issue like this in Docker 1.10.x or later, including 1.12.6.

Was there anything in the Engine log to suggest a problem?

Regards,
Nick

[2017-05-03 11:08] Ashish-Panwar opened #217 "Issue while initializing adop composer"
Please excuse me if i am not talking in correct technical terms for Docker, since i started working last week only on Docker.
        We are trying to setup ADOP on local hosted server. We have installed docker and setup ADOP now. All services are up and running are already installed in   our previous run but we are facing issues while the setup comes to initialize various containers like jenkins

[2017-05-04 07:41] greg80 commented on #211
Hi,

I stopped investigating the issue. As a workaround in docker-compose.yml I defined _hostname_ property for each container. For example:
`hostname: proxy`

Regards,
Greg

[2017-05-04 14:59] nickdgriffin commented on #211
Hi Greg,

That's interesting, as the container_name value should be the one taken as the hostname. What version of Compose are you using?

Regards,
Nick

[2017-05-23 05:44] subratafouzder opened #224 "Feature request-- Serverless test automation framework"
HI
Can we have  AWS lambda function to be invoked ( GItlab. hooks or event) , which can call a test automation  framework  to be run on Chrome headless mode.
The framework will produce all the report and we can have a parallel configurable multi threading which Lambda can scale infinitely to give us on demand infinitely sclable  test automation environment.

[2017-05-31 16:27] nickdgriffin commented on #224
Hello,

Can you give some more details/an example of how this could work please?

Thanks,
Nick

[2017-06-06 15:44] thetonymaster commented on #217
Having the same issue, did you fix it? @Ashish-Panwar

[2017-07-01 18:24] garystafford opened #228 "Docker Compose File has Incorrect Port Format"
The `docker-compose.yml` has two errors in the way ports are exposed, causing an error while spinning up ADOP using the latest version of Docker. For example, `ERROR: Invalid published port: 50000/tcp`.

Line 32: `- "389/tcp:389/tcp"` should be `- "389:389/tcp"`
Line 209: `- "50000/tcp:50000/tcp"` should be `- "50000:50000/tcp"`

[2017-07-02 02:32] garystafford opened #230 "Lastest Docker Version 17.06.0-ce-mac17 (18432) Causes Docker Service Failure (Known Workaround)"
The latest version of Docker causes the `docker.service` to fail on Ubuntu host.

[code]

Known fix, posted on Docker Forums (<https://forums.docker.com/t/docker-machine-provisioned-aws-instance-can-not-start-docker-engine/34200/4?u=garystafford)[https://forums.docker.com/t/docker-machine-provisioned-aws-instance-can-not-start-docker-engine/34200/4?u=garystafford>]

To fix ADOP, add `--engine-inst

[2017-07-05 21:09] anton-kasperovich commented on #230
Looks like this issue already fixed in 0.12.1, could you please just upgrade your Docker-Machine separately (i.e. don't wait when they will make big release of Docker for Mac in like 3 months or so) and test once again, as I don't think that it's a good idea to make workarounds in our stuff just because Docker has temp. bug.
https://github.com/docker/machine/issues/4156#issuecomment-312387395

[2017-07-16 19:20] bzon commented on #201
How this is normally handled in Kubernetes or Openshift Pods (containers) is via Secret resource.

Luckily, Docker 1.13 has implemented the same! https://docs.docker.com/engine/swarm/secrets/

[2017-07-17 09:07] anton-kasperovich commented on #201
@bzon yep, this is something we keep in mind in near future, I already tested it and it's requires changes in Docker images as well (check entrypoint scripts, official images started to add support of reading secrets from files vs before it was from ENV), however before that, we have to upgrade Compose to v3.1, 'cause secrets support supported only since v3.1 of Compose YAML

[2017-07-24 10:36] soham-k opened #237 "Getting error while setting up ADOP"
Getting following error on running command ./adop compose init

Digest: sha256:82523c240fe1c276094f3cec284e8510e6c053266aabceb84a76cf03b6297e0f
Status: Downloaded newer image for accenture/adop-ldap-ltb:0.1.0
Pulling nexus (accenture/adop-nexus:0.1.3)...
ERROR: Get https://registry-1.docker.io/v2/accenture/adop-nexus/manifests/0.1.3: x509: certificate signed by unknown authority

[2017-07-24 12:03] nickdgriffin commented on #237
Hi,

That sounds like a problem with docker.io and as far as I'm aware isn't related to our images. In the past when I've seen certificate/registry issues they've gone away when retrying.

Kind Regards,
Nick

[2017-07-24 12:17] soham-k commented on #237
Thanks !

[2017-07-24 12:17] #237 closed

[2017-07-24 12:19] soham-k opened #238 "Getting error after running ./quickstart"
Hi ,
I run the following command to install ADOP locally.
./quickstart.sh -t local -m adopdemotest  -c NA  -u user.name -p userPassword
Getting  following error

* Waiting for the Platform to become available - this can take a few minutes
* Loading the Platform
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Error 404 Not Found</title>
</head>
<body><h2>HT

[2017-08-03 13:32] soham-k opened #239 "Need Help: how to add plugin on sonar qube server"
I want to add some reporting framework for sonar qube. How to add plugin on ADOP .

[2017-08-03 13:51] nickdgriffin commented on #239
Hello!

If you mean in a permanent capacity, you'd need to submit a PR to the [adop-sonar](https://github.com/Accenture/adop-sonar) repository to change this file: https://github.com/Accenture/adop-sonar/blob/master/resources/plugins.txt . It would need to contain a URL to the plugin JAR, from a trusted source.

If you wanted a bespoke image you could follow the same process and just replace your

[2017-09-11 12:19] mabuhijle opened #243 "Recreating eefac619f384_eefac619f384_proxy ... error"
doing a first time deployment of ADOP, I get this error:

Recreating jenkins-slave
Recreating eefac619f384_eefac619f384_proxy ... error

ERROR: for eefac619f384_eefac619f384_proxy  Cannot start service proxy: driver failed programming external connectivity on endpoint proxy (f64fc7fecba9214aa620743689722eb97acad5a792f738d288401Recreating ldap-ltb ... done

ERROR: for proxy  Cannot start service pr

[2017-09-11 12:27] nickdgriffin commented on #243
Hello,

It says that it's recreating some of the containers, which implies that ADOP/C has been stood up before on the Engine you are targetting or that you've run the command multiple times.

That aside, it's saying:

Which suggests that the Docker Engine isn't running as root or something is already listening on port 80 - can you check please?

Thanks,
Nick

[2017-09-12 07:02] mabuhijle commented on #243
Thanks Nick.
Yes, I have tried multiple ties before, the reason i said "for the first time" is t indicate a fresh attempt to get ADOP to deploy, my bad.

I cant seem to su as root on git bash as it just hangs but I think the problem has to do with this message from the deployment script;

mohammed.abuhijle@CPX-VE92VDMZI53 MINGW64 ~/adop-docker-compose (master)
$ ./adop compose init --without-pull

[2017-09-12 08:36] nickdgriffin commented on #243
Hi Mohammed,

The ADOP CLI that you are using is designed to be used against an already setup Docker Engine, so if you've not taken care of that step that will be why you are seeing this problem. The "quickstart.sh" script on the other hand uses Docker Machine to create either a local virtualbox VM or a remote AWS host and then calls the ADOP CLI against it and is perhaps the option you need.

Kin

[2017-09-12 22:21] svscorp commented on #228
Was implemented and tested in #241 @nickdgriffin

[2017-09-13 17:19] jaynathani-granube opened #246 "quickstart link stuck in nginx"
Hello. I created the VPC on AWS and started the quickstart.sh script. It works perfectly until it searches for nginx.

It is stuck in a loop as seen following:
Waiting for Nginx to become available
Nginx was unavailable, so slept for: 5 secs
Nginx was unavailable, so slept for: 5 secs
Nginx was unavailable, so slept for: 5 secs

I waited for 20 minutes and it didn't move forward from there.

Can y

[2017-09-14 10:12] nickdgriffin commented on #246
Hello,

Have you checked the security group that it has created? By default it only opens ports 22 and 2376, so 80 will be blocked and is probably the cause of that "issue" - the tools will be up, it just can't connect (as that's what that section does, it's the first time it tries to access the IP).

If you'd like to change the instance type you can either tweak it inside the quickstart script, o

[2017-09-14 20:22] jaynathani-granube commented on #246
Hi Nick,

Thanks for your response. I have been able to setup ADOP on a VPC on AWS. Thank you for the tip on using _docker-machine ssh_ for SSH. I am planning to set up a pipeline using the tools that are mentioned in ADOP. Are there any sample cartridges available for me to use?

Also, I saw there is also a way to setup all the resources on AWS using a CloudFormation template. Are there any ADOP

[2017-09-15 17:40] nickdgriffin commented on #246
Hi Jay,

So out of the box the Load_Cartridge job lists all of the cartridges that are available on GitHub - the Java cartridge should be loaded by default for you under ExampleWorkspace/ExampleProject too. There is also a skeleton cartridge referenced from the development materials here: https://accenture.github.io/adop-docker-compose/docs/developing/cartridges/

For launching via AWS we have a r

[2017-09-19 17:36] jaynathani-granube commented on #246
Hi Nick,

Thank you for the information. I was able to set up a pipeline using the java-cartridge. The pipeline works great for all stages except it got stuck in ProdA stage. The console gives the following error:

+ docker cp /workspace/workspace-1/project-1/root/Reference_Application_Deploy_ProdA/target/petclinic.war workspace-1_project-1_root_PRODA:/usr/local/tomcat/webapps/
no such directory
B

[2017-09-20 12:44] nickdgriffin commented on #246
Hi Jay,

Have you created the Prod environment using the environment creation pipeline? The cartridge assumes that is in place and tries to make use of it, I think the problem there is that it can't find the "Prod A" Tomcat container which is where it is trying to copy to.

Cheers,
Nick

[2017-09-20 12:52] jaynathani-granube commented on #246
Hi Nick,

I went to Java Application Reference tab in the cartridge folder I created and ran the pipeline that had come up on its own. Are there any other steps I should take to create ProdA environment?

Thanks,
Jay

[2017-09-20 16:22] nickdgriffin commented on #246
Hi Jay,

That's the build pipeline, there should also be an environment creation pipeline where the first job will allow you to pick the type of environment.

Cheers,
Nick

[2017-09-21 16:50] jaynathani-granube commented on #246
[prodA console output.txt](https://github.com/Accenture/adop-docker-compose/files/1322090/prodA.console.output.txt)
Hi Nick,

Thank you so much. That worked like a charm. But I am not able to see the application (petclinic). I went into the console for ProdA and found **http://workspace-1_project-1_root_PRODA.PUBLIC_IP.xip.io/petclinic** url. I changed the PUBLIC_IP to the public IP I have of the

[2017-10-05 08:07] avoidik opened #250 "move kibana to own location"
Original problem described here
https://github.com/Accenture/adop-nginx/issues/43

Proposed fix
elk.yml
[code]
kibana.yml
[code]

[2017-10-05 13:53] #246 closed

[2017-11-16 12:54] #212 closed

[2017-11-16 16:14] subodh-hatkar opened #256 "docker-machine scp of pem file fails with Docker Machine version 0.13.0"
Due to an open [docker machine issue](https://github.com/docker/machine/issues/3697), the scp of pem file from local machine to docker machine fails with exit status 1.

Error:
[code]

Steps to recreate the issue:
1. Install docker-machine version:
[code]
2. Create and source the environment var file with following variables:
[code]
3. Run quickstart.sh
[code]

[2017-11-23 22:59] DJLordGee opened #257 "Accessing the ADOP EC2 to manage/monitor the ADOP containers after successful quickstart.sh"
Hi,

I've successfully installed the ADOP on an AWS in EC2 (automatically created) using the quickstart.sh, however it has come to my attention that once this is done if the user needs to stop/restart the EC2 hosting the containers there are no clear means to access (ssh) into the EC2 to manage/monitor the containers as the private key are not clearly provided during/after the install process (and

[2017-11-23 23:12] TheTechOddBug commented on #257
Have you used quickstart.sh from a remote machine? In that case, there is a docker-machine connection within the host from where you launched quickstart.sh. From there, you can connect to ADOP instance using "docker-machine ssh <adop-host-name>" command. If you have any issue regarding certificates, you can use regenerate-certs command. In addition, in the host from where you launched quickstart.s

[2017-11-24 03:55] DJLordGee commented on #257
Thanks for that information. At least it allows me to ssh into the EC2 created.

However my objective is to be in a position to monitor/manage the containers and trying to run a 'docker-compose ps' for example proves to be unsuccessful even after sourcing the the env.config.sh and env.provider.sh files.

What needs to be done in order to manage/monitor the ADOP containers (running in the EC2) remo

[2017-11-24 05:51] DJLordGee commented on #257
I've actually realised that once I ssh onto the EC2 I could do a 'sudo docker ps' to list the containers running on the machine, but from an operations/maintenance point of view, assuming I want to restart/stop individual containers would I :

a) be able to stop and restart the different containers directly from there without issue? OR

b) would I need to execute a specific command from my remote

[2017-11-24 08:40] TheTechOddBug commented on #257
First, the issue regarding to remote monitoring of containers is not an ADOP issue but a docker/docker-machine issue. In any case, if you execute "eval $(docker-machine env [adop-instance-name])" from a bash console, you can, after that, execute docker commands (like docker ps) and you'll get the information from the docker daemon running on the ADOP instance.

Other point to take in mind regardin

[2017-11-24 10:44] nickdgriffin commented on #257
In regard to managing the containers, we have the ADOP CLI for that: https://accenture.github.io/adop-docker-compose/docs/reference/cli/compose/

This is what quickstart uses to set everything up, and also what you can use to launch ADOP on an existing Docker Engine. It takes care of sourcing all the right stuff so that you can run Compose commands against everything. It's certainly possible to do

[2018-01-12 03:36] kihyunsung opened #260 "issue with Jenkins permission"
Hi there

I have installed the ADOP platform today, and when I browse to Jenkins I get a message like below.

**Access Denied
iomadmin is missing the Overall/Read permission**

On another ADOP platform which was installed in November 2017 (exactly the same way), there was no issue with Jenkins.

iomadmin is the admin user that was input when creating the ADOP platfrom from the script.

Everything

[2018-01-13 15:08] RobertNorthard commented on #260
@kihyunsung I think this is a race condition in load platform (I've had trouble debugging in the past). Please can you re-create the platform and let me know if the issue persists?

[2018-01-15 02:50] kihyunsung commented on #260
@RobertNorthard
For some weird reason Jenkins permission issue is gone once I run the below command in the server where the ADOP platform has been deployed.
**docker-compose restart**

However Jenkins is excruciatingly slow (around 20 seconds to load when I click anything in Jenkins).
Other apps are running fine.

Do you still want me to stand up another ADOP instance on another server?

Cheers

[2018-01-30 08:54] bklein1 opened #261 "Update docker-compose version"
Hi there,

I was just having a look on the docker-compose.yml and was realizing that an older version is used. Using a newer version (e.g. version 3) would enable new features like using replicas, which could be used for the Jenkins slaves.

Thanks

[2018-02-28 10:43] surajshettyakkunje commented on #246
HI @nickdgriffin .
Can you please elaborate on the Nginx was unavailable, so slept for:5 secs
It will be of great help.. what do i need to change here.. so that this issue gets resolved.

[2018-02-28 11:20] nickdgriffin commented on #246
@surajshettyakkunje : Is this related to the above issue? If not I think a new one should be raised.

In any case, that loop is the first time that connectivity is tested from outside of the Engine so if it is looping forever it means that either there is a connectivity issue between you and Nginx or that Nginx has failed to start. If it is the latter you can check that by doing "docker ps" agains

[2018-03-01 07:09] restalion opened #265 "Update ELK to a more recent version"
ELK lastest version is (today) 6.2.2 but in ADOP we're stuck at 2.1.1 versions for ElasticSearch and Logstash, and 4.3.1 for Kibana.

ELK lastest versions include interesting features and a all new Kibana dashboard.

It could be an interesting upgrade for ADOP platform.

[2018-03-02 10:52] surajshettyakkunje commented on #246
Hi Nick,

Just as a matter of curiosity.
I had my Nginx unavailable and it said --> so slept for : 5sec.
I am running the quickstart cmd on my local using a AWS VPN.
I have a jenkins instance on my local hosted on port 80.. And in the docker-compose.yml it shows
restart: always
  image: accenture/adop-nginx:0.3.2
  #build: ../images/docker-nginx/
  net: ${CUSTOM_NETWORK_NAME}
  ports:
    - "80:80

[2018-03-02 11:04] nickdgriffin commented on #246
If port 80 is already taken on the host that you are launching on then yes that will cause a problem.

[2018-04-12 07:47] ranaskr opened #267 "Update documentation for ELB SSL Certs Generation"
The document README.md has no mention on installing AWS Command line tools to be able to run the upload_certs.sh (https://github.com/Accenture/adop-docker-compose/tree/master/provision/aws/ssl)

Please update the documentation to install AWS CLI from this portal before running uploading certs for ELB. Here is the URL https://aws.amazon.com/cli/

[2018-05-11 08:46] RobertNorthard commented on #228
Closing as merged in https://github.com/Accenture/adop-docker-compose/pull/241

[2018-05-11 08:46] #228 closed

[2018-05-11 13:10] RobertNorthard commented on #260
Okay thanks @kihyunsung. I am closing this issue as we are unable to repeat problems with permissions.

For Jenkins being slow please check if you have any firewalls / adblockers?

[2018-05-11 13:10] #260 closed

[2018-05-11 13:11] RobertNorthard commented on #238
@soham-k we are unable to repeat this issue and as it has been almost a year since reported I am closing. Please let us know if you are still experiencing it.

[2018-05-11 13:11] #238 closed

[2018-05-11 13:12] RobertNorthard commented on #155
@mihail-dev I am closing this issue as steps have not been provided to reproduce.

[2018-05-11 13:12] #155 closed

[2018-05-11 13:12] RobertNorthard commented on #30
Closing as resolved by @SachinKSingh28

[2018-05-11 13:12] #30 closed

[2018-05-11 13:14] RobertNorthard commented on #211
Closing issue @greg80 as it's been a while since reporting. Please let is know if you are still having trouble.

[2018-05-11 13:14] #211 closed

[2018-05-11 13:15] RobertNorthard commented on #267
@ranaskr please can you make a PR to update the documentation?

[2018-05-11 13:16] RobertNorthard commented on #190
Resolving as answered by @nickdgriffin. @rajivece please let us know if you are still experiencing issues.

[2018-05-11 13:16] #190 closed

[2018-05-11 15:39] RobertNorthard commented on #196
Thanks @sergiolacolla. Are you still having this issue?

**FYI I have redacted your ADOP/C password from the log files in this issue. Please change your ADOP/C admin password if this stack is still in use**

[2018-05-11 15:40] RobertNorthard commented on #224
I'm closing this issue as there has been no response for a year.

[2018-05-11 15:40] #224 closed

[2018-05-11 15:41] RobertNorthard commented on #216
Closing this issue as no response.

[2018-05-11 15:41] #216 closed

[2018-05-11 15:42] RobertNorthard commented on #101
Closing this issue as it should be raised under https://github.com/Accenture/adop-cartridge-java

[2018-05-11 15:42] #101 closed

[2018-05-11 15:55] RobertNorthard commented on #68
Closing as no response.

[2018-05-11 15:55] #68 closed

[2018-05-11 15:57] RobertNorthard commented on #31
Closing as unable to repeat.

[2018-05-11 15:57] #31 closed

[2018-05-11 15:59] RobertNorthard commented on #210
@shashidharchava I am closing this issue as I assume it has been resolved. I am unable to repeat with the current version of adop-docker-compose.

[2018-05-11 15:59] #210 closed

[2018-05-11 16:01] RobertNorthard commented on #230
Closing as per @anton-kasperovich comments.

[2018-05-11 16:01] #230 closed

[2018-05-14 09:50] sergiolacolla commented on #196
I stopped checking with curl command because I worked on other servers where I had no problems using mvn deploy

[2018-05-14 09:52] sergiolacolla commented on #196
No more issue,
I stopped checking with curl command because I worked on other servers where I had no problems using mvn deploy.

Thanks,

Sergio.

From: Robert Northard [mailto:notifications@github.com]
Sent: venerdì 11 maggio 2018 17:39
To: Accenture/adop-docker-compose <adop-docker-compose@noreply.github.com>
Cc: La Colla, Sergio <sergio.la.colla@accenture.com>; Mention <mention@noreply.github.c

[2018-05-14 10:31] #196 closed

[2018-05-16 12:18] nickdgriffin opened #271 "Add documentation on custom cartridge properties"
It would be useful to include details of how to use custom cartridge properties to the documentation:

Relates to: https://github.com/Accenture/adop-platform-management/pull/52

[2018-05-19 19:44] SachinKSingh28 commented on #214
@TheTechOddBug I tried with docker-machine but can't reproduce this issue. Could you please provide the steps?

[2018-05-19 20:02] TheTechOddBug commented on #214
I haven't tried that lately but the issue happened on low resources and not so much cpu capable PC and, maybe, more important within company network connection and restrictions. I'll try again and I'll let you know.

[2018-07-02 09:23] nickdgriffin opened #276 "Ideas: Quickstart Enhancements"
I had a few ideas about how quickstart.sh could be enhanced, specifically around allowing it to be extended  so that different "types" are supported and also how to make it easy for people to find them.

The main idea was:

- Split out the quickstart functionality into scripts per "type", structurally similar to how the ADOP CLI works
- Introduce a "community" folder or similar, so that unmaintain

[2018-07-02 09:28] nickdgriffin opened #277 "Ideas: CLI Enhancements"
I had some ideas about the CLI I wanted to share, specifically around variants of ADOP and how to keep it flexible enough to support them and allow contribution.

- I think that the CLI itself, and anything that is agnostic of how/where ADOP is deployed, needs lifting out into its own repository that becomes the new entry point
- Each CLI "type", such as "compose", should then come from repositori

[2018-07-26 12:10] angel-gomez-romero opened #281 "Issue in latest Verified commit 23d5334 starting Jenkins container"
Rollback to previous Verified commit cd6bbb1 necessary due to below error starting Jenkins container from latest Verified commit 23d5334:

`Setting up your default SCM provider - Gerrit...`
`Generating Jenkins Key Pair`
`Generate Sonar authentication token`
`Generating Sonar Authentication Token`
`* Waiting for the Sonar user token api to become available - this can take a few minutes`

Process wa

[2018-08-07 14:12] hermannj opened #283 "Unable to run after server restart."
I recently set up a local environment on an Oracle Linux 7.5 server (used ./adop compose init).  It seems to work fine until the server is restarted.  Issuing a 'docker ps' shows several of the containers stuck in restarting mode.  If I run 'docker-compose logs' it shows that apache2 was unable to determine FQHN.  I added 'ServerName localhost' to the apache2.conf file as noted on the ldap-ltb iss

[2018-08-08 08:26] alokin2012 opened #284 "unable to start the ADOP platform"
Hi Team ,
Please find below .
It waits for long time and never starts. can some one help or advise on this
* Waiting for the Platform to become available - this can take a few minutes
Jenkins was unavailable, so slept for: 30 secs
Jenkins was unavailable, so slept for: 30 secs
Jenkins was unavailable, so slept for: 30 secs
Jenkins was unavailable, so slept for: 30 secs
Jenkins was unavailable, so

[2018-08-08 08:27] alokin2012 commented on #284
more complete details
alok.a.nagaonkar@M5-L-6500LND MINGW64 ~/Downloads/adop-docker-compose (master)
$ ./quickstart.sh -t local -m default3 -u devops -p 38a14f33d7211900

      ###    ########   #######  ########
     ## ##   ##     ## ##     ## ##     ##
    ##   ##  ##     ## ##     ## ##     ##
   ##     ## ##     ## ##     ## ########
   ######### ##     ## ##     ## ##
   ##     ## ##     ##

[2018-08-08 08:28] alokin2012 commented on #284
more details

$ ./quickstart.sh -t local -m default3 -u devops -p 38a14f33d7211900

      ###    ########   #######  ########
     ## ##   ##     ## ##     ## ##     ##
    ##   ##  ##     ## ##     ## ##     ##
   ##     ## ##     ## ##     ## ########
   ######### ##     ## ##     ## ##
   ##     ## ##     ## ##     ## ##
   ##     ## ########   #######  ##

*************************************

[2018-08-08 09:28] #284 closed

[2018-08-08 09:40] alokin2012 opened #285 "unable to start the platform"
below is the details,
All the image gets pulled and then its waiting for long time and never gets started .
Please advise here.
selenium-hub is up-to-date
ldap-phpadmin is up-to-date
nexus is up-to-date
gerrit-mysql is up-to-date
sensu-api is up-to-date
registry is up-to-date
* Waiting for the Platform to become available - this can take a few minutes
Jenkins was unavailable, so slept for: 30 secs

[2018-08-08 10:05] dsingh07 commented on #285
HI @alokin2012 Can we get more logs from the containers to see what the error is on the Jenkins container? You need to add the `--with-stdout` flag to you `./adop init` command. If you are using quickstart, you need to append to the end of this line: https://github.com/Accenture/adop-docker-compose/blob/master/quickstart.sh#L249

We can then do a `docker logs jenkins` to understand what the issue

[2018-08-08 10:39] alokin2012 commented on #285
here is the Jenkins logs

$ docker logs jenkins
Genarate JENKINS SSH KEY and add it to gerrit
Setting up your default SCM provider - Gerrit...
Generate Sonar authentication token
Generating Sonar Authentication Token
* Waiting for the Sonar user token api to become available - this can take a few minutes
Generating Jenkins Key Pair
Sonar was unavailable, so slept for: 30 secs
Sonar was unavailable

[2018-08-08 17:41] dsingh07 commented on #285
This looks like it's waiting for Sonar to start up so that it can integrate. Can we have the logs from Sonar?

[2018-08-13 15:35] RobeDevOps commented on #285
Same issues from my side
{code}
| 2018.08.13 15:27:23 INFO  web[][org.sonar.INFO] Security realm: LDAP
sonar                    | 2018.08.13 15:27:23 INFO  web[][o.s.p.l.LdapSettingsManager] User mapping: LdapUserMapping{baseDn=ou=people,dc=ldap,dc=example,dc=com, request=(&(objectClass=inetOrgPerson)(uid={0})), realNameAttribute=displayName, emailAttribute=mail}
sonar                    | 2018.08

[2018-08-13 15:36] RobeDevOps commented on #285
I was working with this ADOP version on Friday and I was able to see the platform ??

[2018-08-13 19:55] RobeDevOps commented on #285
ok, I was able to recreate the issue.
When you start adop the first time
`./adop compose init --with-stdout`

Then I recreate it again

`./adop compose init --with-stdout`

after this all the issues were appearing, jenkins unavailable, waiting on sonar and sonar getting wrong token, ldap throwing error with message "invalid credentials"

[2018-08-14 08:52] dsingh07 commented on #285
Thanks @RobeDevOps and @alokin2012 for providing further details. I will try and recreate the issue myself in order to investigate the root cause. I have a feeling the error occurs when you restart your ADOP instance on an existing dataset so when Jenkins tries to communicate with Sonar in order to generate an API token, it fails as there is one that already exists there: https://github.com/Accent

[2018-08-21 07:15] vikramkunisetty opened #288 "Quickstart fails to spin up adop | registry container restarts forever"
### Able to reproduce this after finding the same behavior atleast 3-4times now:
Followed the instructions in the quickstart and performed the steps as follows:
1. Launched an EC2 - Ubuntu t2.micro to spin up ADOP
2. Installed Docker, Docker-machine, docker-compose
[code]
3. Quikcstart Script:
`./quickstart.sh -t aws -m adop -c vpc-xxxx -r eu-west-1 -z c -a AAA -s SSS -u prd -p xxxx`

    tail of

[2018-09-04 07:58] acn-lianne-k-b-visperas commented on #48
'Unable to fetch mapping. Do you have indices matching the pattern?'.

Encountering same issue now. Already upgraded Docker Engines and Docker Compose versions to latest

Docker Engine Version=
Docker Compose Version=
![image](https://user-images.githubusercontent.com/35712576/45017876-4e7b0e00-b05b-11e8-8e09-bcab914036ca.png)

[2018-09-16 09:04] RobertNorthard commented on #281
Hi @angel-gomez-romero I am closing this issue due to inactivity. Please comment if you are still experiencing this.

[2018-09-16 09:04] #281 closed

[2018-09-16 09:04] #243 closed

[2018-09-16 09:05] RobertNorthard commented on #217
Closing issue due to inactivity.

[2018-09-16 09:05] #217 closed

[2018-09-16 09:05] RobertNorthard commented on #239
Closing issue as resolution provided.

[2018-09-16 09:05] #239 closed

[2018-10-03 19:03] prattak86 commented on #217
NNOOO! Don't close issue! I'm late to the party but having the same issue...

Local install using Docker for Windows and hyperv driver
Install starts, but Jenkins unavailable issue going on...

Do I have to install Jenkins first before installing ADOP? Or is ADOP package supposed to do that automatically?

[2018-10-11 16:54] RobeDevOps opened #291 "Sonar container is failing | LDAP error code 49 - Invalid Credentials"
I am trying to start ADOP but it is failing due sonar container is broken

`sonar                    | 2018.10.11 16:51:27 INFO  web[][org.sonar.INFO] Security realm: LDAP
sonar                    | 2018.10.11 16:51:27 INFO  web[][o.s.p.l.LdapSettingsManager] User mapping: LdapUserMapping{baseDn=ou=people,dc=ldap,dc=example,dc=com, request=(&(objectClass=inetOrgPerson)(uid={0})), realNameAttribute

[2018-10-15 13:17] dsingh07 commented on #174
Thanks @luismsousa, all relevant PRs are merged now. Can this issue be closed?

[2018-10-19 17:48] teamschwarz opened #293 "No Urls work in ADOP after a restart"
i'm using ./quickstart.sh to run locally. ADOP will come up and work normally but often after the docker machine has been restarted, none of the urls work. e.g. the docker machine IP is 192.168.99.100 - it should bring up the dashboard and 192.168.99.100/jenkins should load jenkins -- it doesnt work.

How can I prevent this from happening, or how do I fix it when it does happen.

[2018-10-22 10:16] dsingh07 commented on #174
Closing this issue as all relevant PRs have been merged.

[2018-10-22 10:16] #174 closed

[2018-10-23 03:00] venkatasykam opened #294 "Install ADOP on VM"
Hi,

I have a virtual machine, I would like to setup this ADOP Platform on VM.

 I know, how to setup this on AWS, I would like to setup this on-premise. Could you please let me know the steps?

Thanks,
Venkat

[2018-10-23 08:51] dsingh07 commented on #294
Hello,

You can provision the ADOP instance on any VM with the Docker engine installed using the ADOP CLI: https://accenture.github.io/adop-docker-compose/docs/provisioning/adop_cli/ where you can replace the <proxy_ip> parameter with the IP address of your VM.

Thanks!

[2018-10-23 16:23] venkatasykam commented on #294
@dsingh07 , really thanks for the document. it helps.

[2018-10-23 16:48] venkatasykam opened #295 "Upgrade to higher version"
Hi,

In future, if I want to upgrade to the higher jenkins version from the current version, what steps I should needs to take case.

Thanks
Venkat

[2018-11-01 14:12] aermike opened #296 "after install with docker enkins not running"
Hi
i follow the steps described in
https://accenture.github.io/adop-docker-compose/docs/provisioning/adop_cli/
after pulling and creating all machines  jenkins doesn't start
Jenkins unavailable, sleeping for: 9s

[2018-11-07 07:59] asagi687 opened #297 "cannot access to war file after Jenkins deploy war/ear to container job"
I kicked deploy job in jenkins using <deploy war/ear to container>,and it succeed,
but I don't know how to access to the war file.

I tried
・http://52.XXX.XX.XX:8080/petclinic/  (ADOP server ip）
・http://172.XX.XX.XX:8080/petclinic/（tomcat container ip)
・http://localhost:8080/petclinic/

but it didn't work.

[2018-11-08 16:45] aliciasteen commented on #296
Hi @aermike Could you post the command you used and the logs from the containers to see what the error is. You might need to add the  `--with-stdou` flag to your `./adop init` command.

[2018-11-09 06:44] aermike commented on #296
Hi
Thank you for answer
it work with ./adop init
where i can put IP for machine?

--------------------------------------------
On Thu, 11/8/18, Alicia Steen <notifications@github.com> wrote:

 Subject: Re: [Accenture/adop-docker-compose] after install with docker enkins not running (#296)
 To: "Accenture/adop-docker-compose" <adop-docker-compose@noreply.github.com>
 Cc: "aermike" <mike_dana_iasi@y

[2018-11-09 09:08] aliciasteen commented on #296
Hi @aermike
You can specify the IP using the `-i <ip>` flag: https://accenture.github.io/adop-docker-compose/docs/provisioning/adop_cli/ where you replace `<proxy_ip>` with your IP address.

[2018-11-11 09:35] deors opened #299 "Error in job Setup_Pluggable_Library on upgrade"
When performing an upgrade from 0.6.0 to 0.7.0, the job Setup_Pluggable_Library which is exec by Load_Platform ends in failure.

**Expected**:
The Load_Platform job finish successfully, upgrading ADOP internals (libraries, cartridges) as needed, too.

**Observed**:
The Setup_Pluggable_Library job ends in failure, with the following stacktrace:

+ echo 'Extracting Pluggable library to additonal cla

[2018-11-11 11:14] RobertNorthard commented on #299
Thanks @deors for raising the issue - this is due to the script security plugin not whitelisting the use of GitSCMSource. However, the ADOP Jenkins image explicitly adds this to script approval (https://github.com/Accenture/adop-jenkins/blob/d35414cb0fe404fd82a469bd56eff74d58bc823e/resources/scriptApproval.xml).

@SachinKSingh28  / @dsingh07 is this a known issue?

On a side note adop-pluggable-sc

[2019-01-15 22:16] gary-dang opened #305 "ADOP/C pipeline does not start when change is pushed to Gerrit/gitweb master branch"
I spun up the ADOP/C using quickstart and the tools come up fine and I am able to manually trigger the pipeline to execute jobs and all jobs run successfully.  However, I made a change in the petclinic application (updated the welcome message in src/main/resources/messages/messages.properties file).  I pushed the change to the master branch.  In gerrit, I can see the changes in the UI.  However, a

[2019-01-16 16:07] gary-dang commented on #305
issue resolved.  had to change
Gerrit Project -> Branches -> Pattern: plain:master
to
Gerrit Project -> Branches -> Pattern: master

[2019-01-16 16:07] #305 closed

[2019-01-28 17:08] aermike commented on #296
thank you

[2019-03-06 17:26] onegarzon opened #308 "Install and run ADOP locally"
Good afternoon Team,
I would like to setup ADOP on my local env running iOS.

Can you share in more details a set of instructions with specific steps in order to spin up ADOP?

Current Specs:
**Docker Desktop Community**
- Version 2.0.0.3 (31259)
- Engine: 18.09.2
- Compose: 1.23.2
- Machine: 0.16.1
- Kubernetes: v1.10.11

My sincere apologies. Thanks for your guidance and support,
garzon

[2019-03-22 11:05] RobertNorthard commented on #308
Hi @onegarzon,

You can either spin up ADOP/C on AWS using the following [instructions](https://accenture.github.io/adop-docker-compose/docs/quickstart/).

Or if you have a local VM with Docker engine installed you can use the quickstart script from this repository in local mode to provision ADOP locally. You will need at least 6GB of memory allocated to the VM.

`./quickstart.sh
	    -t local

[2019-03-22 11:08] RobertNorthard commented on #296
Thanks @aliciasteen. Closing issue as no further actions.

@aermike please raise another issue if you are experiencing any further issues.

[2019-03-22 11:08] #296 closed

[2019-03-25 09:32] dsingh07 opened #309 "Enhancement: Replace Travis with native Github Actions for CI"
Github Actions has been made available and it is worth trialling out as a CI tool for testing the provisioning of the platform as opposed to Travis, especially since it's more native to Github.

This may also alleviate the OOM issues with Travis when trying to build this PR - https://github.com/Accenture/adop-docker-compose/pull/298

[2019-05-21 19:34] dannywcw opened #310 "Install ADOP Locally on VM"
Hi,

I have a virtual machine with the following capacity 8CPU with 32GBRAM and I would like to setup this ADOP Platform on VM this machine on-premise without an internet connection. Could you please let me know the steps?

Question:
0) How to download a copy of ADOP C if the VM has no internet connection? Is there any other alternatives?
1) What is the hardware requirement? 8CPU / 32GB RAM suffic

[2019-07-03 11:21] JMSAPIT1234 opened #311 "Need HELP: How to Limit access in UI"
is it possible to configure the access of the users to DevOps Platform (UI). For example, when a user belongs to Developer group in LDAP access the DevOps platform, they cannot view other tools in the UI while if a user belongs to Admin group, he/she can view all of the DevOps tools.They want to configure the access of the users to DevOps Dashboard (UI). For example, when a user belongs to Develop

[2019-07-04 12:19] telecodani commented on #297
Locate the Build Job then go to Workspace and try to locate the war file there.

[2019-07-13 06:33] RobertNorthard commented on #311
Hi @JMSAPIT1234

As the landing page is not user context aware you are not able to restrict what tiles the users sees on the landing page. However, you can restrict access to specific tools using LDAP groups.

This would be a feature request.

[2019-07-13 06:34] RobertNorthard commented on #308
Closing issue as no response.

[2019-07-13 06:34] #308 closed

[2019-07-29 07:59] Rajeswari-31 opened #313 "Creation of docker-machine via quickstart script getting failed"
I am setting up the ADOP C on my local windows. I have installed the pre-requisites as mentioned in the documentation.
I have executed the below command.
**./quickstart.sh -t local -m adopc -u xxx -p xxx**
Currently I don't have any docker-machine. So the script will create a docker-machine named adopc. On creating am getting the below response. I see similar issues but not the solution.

_Running

[2019-11-11 19:15] RobertNorthard commented on #313
Thanks @Rajeswari-31 for raising this.

Were you able to resolve the issue with VirtualBox?

[2020-02-14 14:56] RobertNorthard commented on #313
Closing as no response.

[2020-02-14 14:56] #313 closed

[2020-02-19 19:12] RobertNorthard opened #318 "Travis Build failing due to missing packages - linux image extra"
`3.01s$ sudo systemctl start docker
git.checkout
0.59s$ git clone --depth=50 --branch=master https://github.com/Accenture/adop-docker-compose.git Accenture/adop-docker-compose
0.01s
Setting environment variables from .travis.yml
$ export DOCKER_ENGINE_VERSION=1.10.3
$ export DOCKER_COMPOSE_VERSION=1.9.0
$ export INITIAL_ADMIN_USER=admin.user
$ export INITIAL_ADMIN_PASSWORD_PLAIN=admin123
$ export